@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

@font-face {
  font-family: 'NAMU';
  src: url($NAMUFontPath + 'NAMU-1850.eot');
  src: url($NAMUFontPath + 'NAMU-1850.eot?#iefix') format('embedded-opentype'),
  url($NAMUFontPath + 'NAMU-1850.woff2') format('woff2'),
  url($NAMUFontPath + 'NAMU-1850.woff') format('woff'),
  url($NAMUFontPath + 'NAMU-1850.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'NAMU-Pro';
  src: url($NAMUFontPath + 'NAMU-Pro.eot');
  src: url($NAMUFontPath + 'NAMU-Pro.eot?#iefix') format('embedded-opentype'),
  url($NAMUFontPath + 'NAMU-Pro.ttf') format('truetype'),
  url($NAMUFontPath + 'NAMU-Pro.woff') format('woff'),
  url($NAMUFontPath + 'NAMU-Pro.woff2') format('woff2');
}
