.footer {
  padding: 50px 20px 58px;
  background-color: #111111;
  @include breakpoint(md){
    padding:20px 71px 31px;
  }
  @include breakpoint(sm){
    padding-left: 20px;
    padding-right: 20px;
  }

  &__row {

  }

  &__logo-wrapper {
    margin-bottom: 25px;
    display: block;
    width: fit-content;

    @include breakpoint(md){
      margin-bottom: 10px;
      max-width: 73px;

    }
    @include breakpoint(sm){
      max-width: 110px;
      margin-bottom: 6px;
    }
  }

  &__main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 15px;
    @include breakpoint(md){
      column-gap: 10px;
      row-gap: 10px;
    }
    @include breakpoint(sm60){
      grid-template-columns: repeat(3, 1fr);

    }
    @include breakpoint(xs45){
      grid-template-columns: repeat(2, 1fr);
      row-gap: 5px;
    }
  }

  &__about {
    grid-row: 1/2;
    grid-column: 1/4;
    margin-bottom: 25px;
    @include breakpoint(md){
      margin-bottom: 5px;
    }
    @include breakpoint(xs45){
      grid-column: 1/2;

    }
  }

  &__title {
    color: #fff;
    font-family: 'NAMU', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    @include fluid-type(768px, $maxWidth, 14px, 24px);
    @include breakpoint(md){
      line-height: 17px;
      @include fluid-type(380px, $maxWidth, 12px, 14px);
    }
    @include breakpoint(sm){
      line-height: 14px;
    }

  }

  &__shop {
    grid-row: 2/4;
    grid-column: 1/2;
    @include breakpoint(xs45){
      grid-row: 2/3;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
    margin-top: 10px;
    @include breakpoint(md){
      margin-top: 6px;
      row-gap: 4px;
    }
    @include breakpoint(sm){
      margin-top: 4px;
      row-gap: 2px;
    }
    @include breakpoint(xs38){
      row-gap: unset;
    }
  }

  &__item {
  }

  &__link {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    position: relative;
    @include fluid-type(768px, $maxWidth, 10px, 18px);
    @include breakpoint(md){
      line-height: 140%;
    }
    &:visited{
      color: #fff;
    }
    &:before{
      content: '';
      position: absolute;
      left: 0;
      bottom: -2px;
      width: 0;
      height: 1px;
      background-color: #fff;
      transition: .3s ease-in-out;
    }

    &:hover{
      &:before{
        width: 100%;
      }
    }
  }

  &__general {
    grid-column: 2/3;
    grid-row: 2/4;
    @include breakpoint(xs45){

      grid-row: 1/3;
    }
  }

  &__promotions {
    grid-row: 2/3;
    grid-column: 3/4;
    @include breakpoint(xs45){
      grid-row: 3/4;
      grid-column: 1/2;
      display: flex;
      flex-direction: column;
      justify-content: end;
    }

  }

  &__logistics {
    grid-row: 2/3;
    grid-column: 4/5;
    @include breakpoint(sm60){
      grid-row: 4/5;
      grid-column: 1/2;
    }
    @include breakpoint(xs45){
      grid-row: 3/4;
      grid-column: 2/3;
    }

  }

  &__phone-number {
    color: #fff;
    display: block;
    margin-top: 15px;
    font-family: 'NAMU', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    @include fluid-type(768px, $maxWidth, 14px, 24px);
    @include breakpoint(md){
      margin-top: 9px;
      @include fluid-type(380px, 768px, 12px, 14px);
    }
    @include breakpoint(sm){
      margin-top: 6px;
    }
    &:visited{
      
    }
  }

  &__socials {

    display: flex;
    column-gap: 20px;
    margin-top: 54px;
    @include breakpoint(lg){
      margin-top: 30px;
    }
    @include breakpoint(md){
      column-gap: 10px;
      margin-top: 12px;
    }
    @include breakpoint(xs38){
      column-gap: 8px;
    }
  }

  &__telegram {
  }

  &__social {
    display: block;
    svg{
      path{
        transition: .3s ease-in-out;
      }
    }
    &:hover{
      svg{
        path:first-child{
          fill:$colorPink;
        }
      }
    }
    @include breakpoint(md){
      svg{
        width: 21px;
        height: 21px;
      }
    }
    @include breakpoint(xs38){
      svg{
        width: 18px;
        height: 18px;
      }
    }
  }

  &__vk {
  }

  &__youtube {
  }

  &__copyrights {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    position: relative;
    @include fluid-type(768px, $maxWidth, 10px, 18px);
    @include breakpoint(md){
      line-height: 140%;
    }
    grid-column: 3/5;
    grid-row: 3/4;
    display: flex;
    align-items: end;

    @include breakpoint(sm60){
      grid-row: 4/5;
      grid-column: 2/4;
    }
    @include breakpoint(xs45){
      grid-column: 1/3;
      margin-top: 16px;
    }

  }
}