@import "mixins";

.content{
  max-width: $maxWidth;
  margin: 0 auto;
}

body{
  font-family: 'Open Sans', sans-serif;

  font-size: 14px;
  color: #000;
  font-style: normal;
  font-weight: 400;
  &.lock{
    overflow: hidden;
  }
}
.normalize-element{
  transform: translate(0,0) !important;
  opacity: 1 !important;
}
.normalizeX-element{
  transform:translateX(0) !important;
  opacity: 1 !important;
}
.normalizeY-element{
  transform: translateY(0) !important;
  opacity: 1 !important;
}
