
.header{
  background-color: #111111;
}


.cart{
  @include breakpoint(md){
    margin-left: auto;
  }


  display: flex;
  align-items: end;
  &__items-total{
    display: none;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 9.33333px;
    line-height: 13px;
    width: 12px;
    height: 12px;
    color: #111111;
    background-color: #fff;
    border-radius: 50%;

    align-items: center;
    justify-content: center;
    @include breakpoint(sm){
      display: flex;
    }
  }
  &__icon-wrapper{
    display: flex;

    svg{
      path{
        transition: .3s ease-in-out;
      }
    }
  }

  svg{
    width: 36px;
    @include breakpoint(md){
      width: 31px;
    }
    @include breakpoint(md){
      width: 24px;
    }

  }
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 10px 7px;
  background-color: #111111;
  z-index: 2;
  column-gap: 30px;

  //height:50px;
  @include breakpoint(md){
    column-gap: unset;
    padding: 10px 7px 8px;
    justify-content: unset;
  }
  @include breakpoint(sm){
    padding: 5.5px 5px 2.5px;
  }
  @include breakpoint($navBreakpoint){
    position: fixed;
    width: 100%;
  }
 /* &__icon-wrapper{

    margin-left: 50px;
    @include breakpoint(xs){
      margin-left: calc(100vw / 27.2);
    }
    @include breakpoint(md){
      max-width: 142px;
    }
    @include breakpoint(sm){
      max-width: 94px;
    }
  }*/
  &__cart{

    &:hover{
      svg{
        path{
          stroke: $colorPink;
        }
      }
    }
  }
  &__list{
    display: flex;
    column-gap:20px;
    flex-wrap: wrap;
    @include breakpoint($navBreakpoint){
      padding-top:1.5rem;
      flex-direction: column;
      text-align: center;
      justify-content: start;
      margin: 0 auto;
    }
  }

  &__menu {
    overflow: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &.active{
      @include breakpoint($navBreakpoint){
        flex-wrap: wrap;
        left: 0;
        height: 100%;
        justify-content: start;
      }
    }

    @include breakpoint($navBreakpoint){
      height: 100%;
      position: fixed;
      left: -100%;
      top:0;
      background-color: #111111;
      width: 100%;
      transition: 0.3s;
      box-shadow:0 10px 27px rgba(0, 0, 0, 0.05);
    }
  }

  &__item {
    @include breakpoint($navBreakpoint){
      margin:2.5rem 0;
    }
  }

  &__link{
    color: #fff;
    font-family: 'NAMU', sans-serif;
    font-size: 20px;
    line-height: 24px;
    white-space: nowrap;
    position: relative;
    width: fit-content;
    @include fluid-type(768px, $maxWidth, 16px, 20px);

    &:before{
      content: '';
      position: absolute;
      display: block;
      left: 0;
      bottom: -2px;
      height: 1px;
      width: 0;
      background-color: #fff;
      transition: .3s ease-in-out;
    }
    &:hover{
      color: #fff;
      &:before{
        width: 100%;
      }
    }
    @include breakpoint(md){
      font-size: 1.5rem;
      line-height: 1;
    }

  }

  &__logo {
    //margin-left: 10px;
    /*@include breakpoint(xl){
      margin-left: calc(100vw / 27.2);
    }*/
    @include breakpoint(md){
      max-width: 142px;
      margin-left: calc(100vw / 19.2);
    }
    @include breakpoint(sm){
      max-width: 94px;
      margin-left: 25px;
    }
  }
}

.hamburger {
  display: none;
  background-color: unset;
  position: relative;
  z-index: 5;
  &:focus{
    //background-color: tomato;
  }
  @include breakpoint($navBreakpoint){
    display: flex;
    flex-direction:column;
    row-gap: 5px;
    cursor: pointer;

    &.active .hamburger__bar:nth-child(2) {
      opacity: 0;
    }
    &.active .hamburger__bar:nth-child(1) {
      width: 35px;
      transform: translateY(8px) rotate(45deg);
      @include breakpoint(sm){
        transform: translateY(7px) rotate(45deg);
      }
    }
    &.active .hamburger__bar:nth-child(3) {
      width: 35px;
      transform: translateY(-8px) rotate(-45deg);
      @include breakpoint(sm){
        transform: translateY(-7px) rotate(-45deg);
      }
    }
  }

  &__bar {
    display: block;
    width: 32px;
    height: 3px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
    @include breakpoint(md){
      width: 26px;
    }
    @include breakpoint(sm){
      height: 2px;
      width: 20px;
    }
  }
}




