/*_________ GLOB _______*/

.title-glob{
  opacity: 0;
  transform: translateX(120px);
  transition: opacity .5s ease-in-out, transform .5s ease-in-out;
  @include breakpoint(md){
    transform: translateX(60px);
  }
}
/*_________ GLOB END _______*/

/*__________ HERO __________*/


.hero {

  padding: 250px 20px;
  background-color: #dddddd;
  overflow: hidden;
  @include breakpoint(lg){
    padding: 200px 20px;
  }
  @include breakpoint(md){
    padding:137px 71px 120px;
  }
  @include breakpoint(sm){
    padding: 97px 20px 180px;
  }
  &__row {
    position: relative;
  }

  &__content {
    position: relative;
    z-index: 1;
    max-width: 560px;
    @include breakpoint(md){
      max-width: 365px;

    }
    @include breakpoint(sm){
      max-width: 290px;
    }
  }

  &__title {
    opacity: 0;
    font-family: 'NAMU', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 46px;
    line-height: 103%;
    color: $mainColor;
    transform:translateY(-120px);
    transition: transform .6s ease-in-out, opacity .6s ease-in-out;

    @include fluid-type(768px, $maxWidth, 30px, 46px);
    @include breakpoint(lg){
      line-height: 36px;
    }
    @include breakpoint(md){
      transform: translateY(-80px);
      @include fluid-type(380px, 768px, 24px, 30px);
    }
  }

  &__desc {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 130%;
    color: $mainColor;
    margin-top: 40px;
    opacity: 0;
    transform: translateY(120px);
    transition:  transform .6s ease-in-out, opacity .6s ease-in-out;
    @include fluid-type(768px, $maxWidth, 12px, 26px);
    @include breakpoint(md){
      transform: translateY(80px);
      max-width: 255px;
      margin-top: 20px;
    }
    @include breakpoint(sm){
      max-width: 170px;
      margin-top: 16px;
    }
    @include breakpoint(xs38){
      line-height: 140%;
    }

  }

  &__more-btn {
    display: flex;
    color:#fff;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    background-color: #C5358C;
    border-radius: 3px;
    width: fit-content;
    padding:15.5px 51.5px;
    margin-top: 90px;
    opacity: 0;
    transition:background-color .3s ease-in-out, opacity .4s ease-in-out;
    @include fluid-type(768px, $maxWidth, 16px, 24px);
    @include breakpoint(md){
      padding: 7.5px 26px;
      line-height: 22px;
      margin-top: 40px;
    }
    @include breakpoint(sm){
      padding-top: 7px;
      padding-bottom: 7px;
      margin-top: 30px;
    }
    &:hover{
      @media (min-width: 768px){
        background-color: #000;
        box-shadow: 0 0 15px rgba(0,0,0,0.4);
      }
    }

  }

  &__img-wrapper {
    position: absolute;
    bottom: -250px;
    right: -280px;
    transform: translateX(120px);
    opacity: 0;
    transition:transform .6s ease-in-out, opacity .6s ease-in-out;
    @include breakpoint(xl){
      right: calc(100vw / -4.86);
      width: calc(100vw / 1.36);
    }
    @include breakpoint(md){
      bottom: -120px;
      right: calc(100vw / -10.81);
      width: calc(100vw / 2.05);
    }
    @include breakpoint(sm){
      bottom: -180px;
      right: -25%;
      width: calc(100vw / 1.35);
    }
    @include breakpoint(xs38){
      width: calc(100vw / 1.15);
    }
  }

  &__img {
  }
}
/*__________ HERO END __________*/
/*__________ CATEGORIES __________*/

.categories {
  padding: 150px 20px;
  @include breakpoint(lg){
    padding: 150px 20px;
  }
  @include breakpoint(md){
    padding:60px 71px 70px;
  }
  @include breakpoint(sm){
    padding: 97px 20px 60px;
  }
  @include breakpoint(xs38){
    padding-top: 30px;
    padding-bottom: 46px;
  }
  &__row {


  }
  &__cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    //display: flex;
    //flex-wrap: wrap;
    gap: 20px;
    //gap: 20px;
    justify-content: space-between;
    @include breakpoint(xl){

      /*grid-template-columns: repeat(4, 1fr);*/
    }
    @include breakpoint(lg){

    }
    @include breakpoint(md){
      grid-template-columns: repeat(auto-fill, minmax(142px, 1fr));
      row-gap: 10px;
    }
    @include breakpoint(sm){
      column-gap: 10px;
    }
  }

  &__card {

  }

  .card {
    max-width: 324px;
    width: 100%;
    flex-basis: calc(25% - 15px);
    display: flex;

    flex-direction: column;
    padding-top: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
    border-radius: 3px;
    opacity:0;
    transform: translateY(-100px);
    transition: opacity .5s ease-in-out, transform .5s ease-in-out;

    @include breakpoint(lg){
      flex-basis: calc(25% - 20px);
      box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 7px;
    }
    &:hover{

      border-radius: 0px 0px 10px 10px;

      .card__footer{
        background-color: $mainColor;
        border-radius: 0px 0px 10px 10px;
        .card__title{
          color:#fff;
        }

        .card__link-txt{
          color:#fff;
        }
        .card__svg-wrapper{
          svg{
            path{ fill:#fff;}
          }
        }
      }
    }
    &__img-wrapper {
      flex: 1;
      position: relative;
      height: 0;
      padding-bottom: 100%;
      overflow:hidden;
      /*width: 100%;
      height: 324px;
      position: relative;
      overflow: hidden;
      @include breakpoint(xl){
        height: calc((100vw - 100px) / 4.2);
        width: calc((100vw - 100px) / 4.2);
      }
      @include breakpoint(md){
        height: calc((100vw - 131px) / 5.41);
        width: calc((100vw - 131px) / 5.41);
      }*/
    }

    &__img {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 50%;
      top: 50%;
      transform:translate(-50%, -50%);
      object-fit: cover;
    }

    &__footer {
      padding: 20px 40px 30px;
      display: flex;
      flex-direction: column;
      row-gap: 11px;
      transition: background-color .3s ease-in-out, border-radius .3s ease-in-out;
      @include breakpoint(lg){
        padding: 15px 20px 20px;
      }
      @include breakpoint(md){
        row-gap: 5px;
        padding: 10px 12px 15px;
      }
      @include breakpoint(sm){
        row-gap: 8px;
      }
    }

    &__title {
      font-family: 'NAMU', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 30px;
      line-height: 36px;
      /* identical to box height */
      color: $mainColor;
      transition: color .3s ease-in-out;
      @include fluid-type(768px, $maxWidth, 16px, 30px);
      @include breakpoint(md){
        @include fluid-type(380px, 768px,13px, 16px);
        line-height: 19px;
      }
      @include breakpoint(x38){
        line-height: 16px;
      }
    }

    &__link {
      display: flex;
      column-gap: 20px;
      align-items: center;
      @include breakpoint(md){
        column-gap: 8px;
      }
      @include breakpoint(sm){
        column-gap: 10px;
      }
    }

    &__link-txt {

      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 33px;
      color: $mainColor;
      transition: color .3s ease-in-out;
      @include fluid-type(768px, $maxWidth, 12px, 24px);
      @include breakpoint(md){
        @include fluid-type(380px, 768px, 11px, 12px);
        line-height: 16px;
      }
      @include breakpoint(sm){
        line-height: 15px;
      }

    }

    &__svg-wrapper {
      position: relative;
      display: flex;
      top: 2px;
      @include breakpoint(lg){
        ///top: 2px;
      }
      svg{
        path{
          transition: fill .3s ease-in-out;
        }
        @include breakpoint(lg){
          width: 18px;
        }
        @include breakpoint(md){
          width: 14px;
        }
      }
    }
  }
}
/*__________ CATEGORIES END __________*/
/*__________ EXPERT __________*/


.expert {
  overflow: hidden;
  padding: 150px 20px 162px;
  @include breakpoint(md){
    padding: 60px 71px 70px;
  }
  @include breakpoint(sm){
    padding: 46px 20px;
  }
  background-color:  #F8F8F8;
  &__row {
    position: relative;
  }

  &__md-content {
    display: none;
    @include breakpoint(md){
      display: flex;
      flex-direction: column;
      row-gap: 40px;
      margin-bottom: 120px;
    }
    @include breakpoint(sm){
      row-gap: 30px;
      margin-bottom: 90px;
    }
  }

  &__txt {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    @include breakpoint(sm){
      row-gap: 14px;
    }
    .expert__title{
      @include breakpoint(md){
        @include fluid-type(380px, 768px, 20px, 22px);
      }
    }
    .expert__desc{
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 12px;
    }
  }

  &__title {
    font-family: 'NAMU', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 50px;
    color: $mainColor;
    max-width: 745px;
    @extend .title-glob;

    //margin-bottom: 40px;
    @include fluid-type(768px, $maxWidth, 26px, 42px);
    @include breakpoint(md){
      //margin-bottom: 20px;
      line-height: 31px;
      @include fluid-type(380px, 768px, 20px, 26px);
    }
    @include breakpoint(xs38){
      line-height: 24px;
    }
  }

  &__desc {
  }

  &__main-content {

  }

  &__main-txt {
    display: flex;
    flex-direction: column;
    row-gap: 40px ;
    position: relative;
    z-index: 1;
    @include breakpoint(md){
      row-gap: 20px;
    }
  }

  &__paragraphs {
    max-width: 670px;
    display: flex;
    flex-direction: column;
    row-gap: 22px;
    @include breakpoint(xl){
      max-width: calc(100vw / 2);
    }
    @include breakpoint(md){
      row-gap: 10px;
      max-width: 100%;
    }
  }

  &__paragraph {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #000000;
    @include fluid-type(768px, $maxWidth, 12px, 18px);
    @include breakpoint(md){
      font-weight: 300;
    }
  }

  &__img-wrapper {
    position: absolute;
    right: -30px;
    bottom: -162px;
    @include breakpoint(xl){
      max-width: calc(100vw / 2.25);
    }
    @include breakpoint(md){
      display: none;
    }
  }

  &__img {
  }
}

/*__________ EXPERT END __________*/
/*__________ ADVANTAGES __________*/

.advantages {
  padding: 150px 20px;
  overflow: hidden;
  @include breakpoint(md){
    padding: 60px 71px 70px;
  }
  @include breakpoint(sm){
    padding: 46px 20px;
  }

  &__row {
  }

  &__title {
    font-family: 'NAMU', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 50px;
    color: $mainColor;
    margin-bottom: 60px;
    @extend .title-glob;

    @include fluid-type(768px, $maxWidth, 26px, 42px);
    @include breakpoint(md){
      line-height: 31px;
      margin-bottom: 40px;
      @include fluid-type(380px, 768px, 20px, 26px);
    }
    @include breakpoint(sm){
      line-height: 24px;
      margin-bottom: 30px;
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    @include breakpoint(md){
      grid-template-columns: repeat(2, 1fr);
    }
    @include breakpoint(sm){
      row-gap: 10px;
      grid-template-columns: 1fr;
    }

  }

  &__card {

  }

  .card {
    padding: 26px 10px 46px;
    display: flex;
    row-gap: 15px;
    flex-direction: column;
    box-shadow: 0px 4px 41px rgba(0, 0, 0, 0.05);
    opacity: 0;
    transform: translateY(100px);
    transition: transform .5s ease-in-out, opacity .5s ease-in-out;

    @include breakpoint(md){
      transform: translateY(60px);
      box-shadow: 0px 2.7px 27.5px rgba(0, 0, 0, 0.05);
      padding: 18px 7px 30px;
      &:nth-child(1){
        svg{
          width: 50px;
        }
      }
      &:nth-child(2){
        svg{
          width: 53px;
        }
      }
      &:nth-child(3){
        svg{
          width: 51px;
        }
      }
      &:nth-child(4){
        svg{
          width: 50px;
        }
      }
      &:nth-child(5){
        svg{
          width: 54px;
        }
      }
      &:nth-child(6){
        svg{
          width: 35px;
        }
      }
    }
    @include breakpoint(sm){
      padding: 16px 7px 26px 0px;
      flex-direction: row;
      align-items: center;
      column-gap: calc(100vw / 8.84);
      &:nth-child(even){
        transform:translate(40px, 0);
      }
      &:nth-child(odd){
        transform:translate(-40px, 0);
      }
    }
    &__svg-wrapper {
      margin: 0 auto;
      width: 110px;
      height: 110px;
      display: flex;
      justify-content: center;
      align-items: center;
      @include breakpoint(md){
        width: 74px;
        height: 74px;
      }
      @include breakpoint(sm){
        margin: 0 0 0 calc(100vw / 11.5);
      }
      @include breakpoint(xs38){
        margin: 0 0 0 15px;
      }
    }



    &__txt {
      display: flex;
      flex-direction: column;
      row-gap: 13px;
      align-items: center;
      @include breakpoint(md){
        row-gap: 8px;
      }
      @include breakpoint(sm){
        align-items: start;
      }
    }

    &__title {
      font-family: 'NAMU', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      color: #000000;


      @include fluid-type(768px, $maxWidth, 14px, 20px);
      @include breakpoint(md){
        @include fluid-type(380px, 768px, 13px, 14px);
        line-height: 17px;
      }
      @include breakpoint(sm){
        line-height: 16px;
        text-align: start;
      }

    }

    &__desc {
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 130%;
      text-align: center;
      color: #000000;
      max-width: 280px;
      @include fluid-type(768px, $maxWidth, 12px, 18px);
      @include breakpoint(sm){
        text-align: start;
      }
    }
  }
}
/*__________ ADVANTAGES END __________*/
/*__________ OFFERS __________*/

.offers {
  background-color: #F8F8F8;
  padding: 150px 20px;
  overflow: hidden;
  @include breakpoint(md){
    padding: 60px 71px 70px;
  }
  @include breakpoint(sm){
    padding: 46px 20px;
  }

  &__row {
  }

  &__header {
  }

  &__title-wrapper {
    opacity: 0;
    transform: translateX(120px);
    transition: opacity .5s ease-in-out,
    transform .5s ease-in-out;

    display: flex;
    column-gap: 15px;
    margin-bottom: 50px;
    @include breakpoint(md){
      column-gap: 12px;
      margin-bottom: 20px;
    }
    @include breakpoint(sm){
      column-gap: 8px;
    }
  }

  &__title {
    font-family: 'NAMU', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 110%;
    color: $mainColor;
    @include fluid-type(768px, $maxWidth, 30px, 46px);
    @include breakpoint(md){
      @include fluid-type(380px, 768px, 20px, 30px);
    }
  }

  &__goods-count {
    @extend .offers__title;
    color: $colorPink;
  }


  &__tags-wrapper {
    position: relative;
    overflow: hidden;

    transition: max-height .3s ease-in-out;


  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    @include breakpoint(md){
      column-gap: 8px;
    }
    @include breakpoint(sm){
      column-gap: 10px;
    }

  }

  &__tag {
    //margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: $mainColor;
    border: 1px solid $mainColor;
    border-radius: 31px;
    padding: 6px 20px 7px;
    transition: .3s ease-in-out;
    @include fluid-type(768px, $maxWidth, 12px, 18px);
    @include breakpoint(md){
      padding: 5.5px 12px 6.5px;
      line-height: 16px;
    }
    &:hover{
      color:$colorPink;
      border-color: $colorPink;
    }
  }
  .offers__tag-delimiter{
    height: 0;
    margin: 0;
    padding: 0;
    border:0;
    flex-basis: 100%;
  }
  &__tags-btn {
    position: absolute;
    top: 0;
    right: 0;
    color: $colorPink;
    background-color: unset;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    transition: .2s ease-in-out;
    margin-left: 40px;
    @include fluid-type(768px, $maxWidth, 12px, 18px);
    @include breakpoint(md){
      margin-left: 30px;
      line-height: 16px;
    }
    @include breakpoint(sm){
      margin-left: 20px;
    }

    &:before{
      content: '';
      position: absolute;
      width: 100%;
      bottom: 6px;
      left: 0;
      height: 1px;
      background-color: $colorPink;
      transition: .3s ease-in-out;
    }
    &:hover{
      &:before{
        width: 0;
      }
    }
    &--show{
      display: inline-block;
    }

    &--hide{
      display: none;
    }

    &.active{
      .offers__tags-btn--show{
        display: none;
      }
      .offers__tags-btn--hide{
        display: inline-block;
      }
    }
  }

  .dropdown {
    position: relative;
    min-width: 273px;
    width: fit-content;
    margin-bottom: 50px;
    margin-top: 40px;
    margin-left: auto;
    @include breakpoint(md){
      min-width: 192px;
      margin-top: 10px;
      margin-bottom: 30px;
    }
    @include breakpoint(sm){
      margin-bottom: 40px;
      margin-top: 7px;
    }
    &__btn {
      width: 100%;
      justify-content: space-between;
      padding: 7px 25px;
      border: 1px solid $colorPink;
      border-radius: 3px;
      background-color: unset;
      display: flex;
      column-gap: 25px;
      align-items: center;

      @include breakpoint(md){
        padding: 6.5px 15.5px 7.5px;
      }
      @include breakpoint(sm){

      }

    }
    &__btn-txt{
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 25px;
      color: $mainColor;
      @include fluid-type(768px, $maxWidth, 12px, 18px);
      @include breakpoint(md){
        line-height: 16px;
        //padding: 6.5px 15.5px 7.5px;
      }
    }
    &__btn-svg{
      //margin-left: 25px;
      transition: .3s ease-in-out;
      display: flex;
      svg{
        path{
          transition: .3s ease-in-out;
        }
      }
    }

    &__list {
      background:#fff;
      position: absolute;
      left: 0;
      right: 0;
      //width: 100%;
      opacity:0;
      transform-origin: top left;
      transform:scale(1,0);
      transition: transform .3s ease-in-out,
      opacity .3s ease-in-out;
      border-radius: 3px;
      z-index: 10;
    }

    &__item {
      padding:7px 25px;
      display: flex;
      justify-content: space-between;
      cursor:pointer;
      align-items: center;
      //column-gap: 25px;
      border-bottom: 1px solid #cccccc;
      transition: background-color .2s ease-in-out;
      @include breakpoint(md){
        padding: 7px 15.5px;
      }
      &:first-child{
        border-radius: 3px 3px 0px 0px;
      }
      &:last-child{
        border-radius: 0px 0px 3px 3px;
        border-bottom: 1px solid rgba(0,0,0,0);
      }
      &:hover{
        background-color: #dadada;
      }

      &-txt{
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 25px;
        color: $mainColor;
        @include fluid-type(768px, $maxWidth, 12px, 18px);
        @include breakpoint(md){
          line-height: 16px;
        }
      }
      &-svg{
        transition: .3s ease-in-out;
        opacity: 0;
        display: flex;
      }

      &.selected{
        .dropdown__item-svg{
          opacity: 1;
        }
        .dropdown__item-txt{
          font-weight: 400;
        }

      }

    }
    &.active{

      .dropdown__list{
        opacity:1;
        transform:scale(1,1);
      }
      .dropdown__btn{
        color:$colorPink;

      }
      .dropdown__btn-svg{
        transform: rotate(180deg);
        svg{
          path{
            fill: $colorPink;
          }
        }
      }
    }
  }

  &__slider {
  }

  .swiper {
    width: 100%;

  }
  .swiper-slide{
    height: auto !important;
    //height: calc((100% - 20px) / 2) !important;
    @include breakpoint(sm){
      //height: calc((100% - 10px) / 2) !important;
    }
  }
  //.swiper-grid-column > .swiper-wrapper{ flex-dtirecion: unset !important; }
  &__cards--inner {
  }

  &__slide {
  }


  &__card {
  }

  .card {

    height: 100%;
    display: flex;
    flex-direction: column;
    &__img-wrapper {
    }

    &__img {
    }
    &__main{
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: 40px;
      background-color: #fff;
      @include breakpoint(lg){
        padding: 20px;
      }
      @include breakpoint(md){
        padding: 10px 12px 12px;
      }
      @include breakpoint(sm){
        padding: 12px 10px;
      }
    }
    &__desc {
      flex: 1;
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 24px;
      line-height: 33px;
      color: $mainColor;
      margin-bottom: 25px;
      @include fluid-type(768px, $maxWidth, 12px, 24px);
      @include breakpoint(md){
        margin-bottom: 10px;
        line-height: 130%;
        @include fluid-type(380px, 768px, 10px, 12px);
      }
      @include breakpoint(sm){
        line-height: 140%;
        margin-bottom: 8px;
      }
    }

    &__price-info {
      display: grid;
      grid-template-columns: 60% 40%;
      row-gap: 8px;
      @include breakpoint(md){
        row-gap: 2px;
      }
      @include breakpoint(sm){
        row-gap: 9px;
      }
    }
    &__availability{
      display: flex;
      align-items: center;
    }
    &__availability-txt {
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 25px;
      position: relative;
      padding-left: 35px;
      @include fluid-type(768px, $maxWidth, 12px, 18px);
      @include breakpoint(md){
        @include fluid-type(380px, 768px, 10px, 12px);
        line-height: 16px;
        padding-left: 21px;
      }
      @include breakpoint(sm){
        line-height: 14px;
        padding-left: 24px;
      }
      &:before{
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background-color: $mainColor;
        @include breakpoint(md){
          width: 8px;
          height: 8px;
        }
        @include breakpoint(sm){
          width: 10px;
          height: 10px;
        }
      }
      &--available{
        color: #68AE5C;
        &:before{
          background-color: #68AE5C;
        }
      }
      &--not-available{
        color: #ff3333;
        &:before{
          background-color: #68AE5C;
        }
      }
    }

    &__discount-percent {

      justify-content: end;
      display: flex;


    }
    &__dp-txt{
      width: fit-content;
      padding: 7.5px 28.5px;
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 33px;
      color: #F8F8F8;
      border-radius: 3px;
      display: inline-block;
      background-color: #C5358C;
      //margin-left: auto;
      @include breakpoint(lg){
        padding: 5px 15px;
      }
      @include fluid-type(768px, $maxWidth, 16px, 24px);
      @include breakpoint(md){
        padding: 2.5px 7.5px;
        line-height: 22px;
        @include fluid-type(380px, 768px, 15px, 16px);
      }
      @include breakpoint(sm){
        line-height: 20px;
        padding: 2.5px 10.5px;
      }
    }

    &__discount-price {
      font-family: 'NAMU', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 42px;
      line-height: 50px;
      color: $mainColor;
      @include breakpoint(lg){
        line-height: 25px;
      }
      @include fluid-type(768px, $maxWidth, 20px, 42px);
      @include breakpoint(md){
        line-height: 24px;
        @include fluid-type(380px, 768px, 17px, 20px);
      }
      @include breakpoint(sm){
        line-height: 20px;
      }
    }

    &__price {
      display: flex;
      align-items: end;
      text-align: end;
      justify-content: end;
      font-family: 'NAMU', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 29px;
      text-decoration-line: line-through;
      color: #ABABAB;
      @include fluid-type(768px, $maxWidth, 12px, 24px);
      @include breakpoint(md){
        line-height: 14px;
      }

    }

    &__footer {
      background-color: #fff;
      display:grid;
      grid-template-columns: repeat(2, 50%);
      @include breakpoint(lg){
        display: block;

      }
    }

    &__goods-control {
      display: grid;
      grid-template-columns: repeat(3, 33.33%);
      justify-content: space-between;
      border: 1px solid $mainColor;
      border-radius: 3px;
      @include breakpoint(lg){
        display: none;
      }
    }
    &__remove-btn, &__goods-total, &__add-btn {
    }
    &__remove-btn, &__add-btn {
      background-color: #fff;

      &:disabled{
        span {
          svg{
            path{stroke: #ABABAB;}
          }
        }
      }
    }

    &__goods-total {
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 0%;
      color: $mainColor;
      text-align: center;

    }

    &__add-btn {
    }

    &__cart-btn {
      background: $mainColor;
      border-radius: 3px;
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 33px;
      color: #F8F8F8;
      padding: 15.5px 0;
      display: flex;
      justify-items: center;
      justify-content: center;
      text-align: center;
      transition: .3s ease-in-out;
      @include fluid-type(768px, $maxWidth, 16px, 24px);
      @include breakpoint(lg){
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
      }
      @include breakpoint(md){
        padding: 7px 0px;
        line-height: 22px;
        @include fluid-type(380px, 768px, 15px, 16px);
      }
      @include breakpoint(sm){
        padding: 8px 0px;
        line-height: 20px;
      }
      &:hover{
        background-color: $colorPink;
      }
      &:active{
        box-shadow: inset 0 0 10px rgba(0,0,0,.4);
      }
    }
    &__btn-svg-wrapper{
      display: flex;
      width: fit-content;
      margin: 0 auto;
    }

  }


  &__slider-nav {
    display: flex;
  }
  .slider-nav{
    margin-top: 130px;
    @include breakpoint(lg){
      margin-top: 70px;
    }
    @include breakpoint(md){
      margin-top: 40px;
    }
    @include breakpoint(sm){
      margin-top: 30px;
    }

    &__btn-wrapper{
      display: flex;
      column-gap: 20px;
    }

    &__svg-wrapper{
      display: flex;
      margin: 0 auto;
    }

    &__svg{

      @include breakpoint(md){
        width: 20px;
      }
      path{
        transition: .3s ease-in-out;
      }
    }

    &__btn {
      border: 1px solid $mainColor;
      border-radius: 3px;
      width: 64px;
      height: 64px;
      display: flex;
      justify-items: center;
      align-items: center;
      transition: .3s ease-in-out;
      background-color: rgba(0,0,0,0);
      cursor: pointer;
      @include breakpoint(md){
        width: 36px;
        height: 36px;
      }

      &:hover{
        box-shadow: 0 0 15px rgba(0,0,0,.4);
        background-color: $mainColor;
        .slider-nav__svg{
          path{
            fill:#fff;
          }
        }
      }
      &:active{

      }
    }

    &__btn--prev {
    }

    &__btn--next {
    }

    &__pagination {
      white-space: nowrap;
      display: flex;
      align-items: center;
      margin-left: 30px;
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 33px;
      color: $mainColor;
      @include fluid-type(768px, $maxWidth, 16px, 24px);
      @include breakpoint(md){
        line-height: 22px;
        @include fluid-type(380px, 768px, 15px, 16px);
      }
      @include breakpoint(sm){
        line-height: 20px;
      }
    }
  }

  .swiper-pagination {
  }
}

/*__________ OFFERS END __________*/

/*__________ REVIEWS __________*/

.reviews {
  padding: 150px 20px;
  overflow: hidden;
  @include breakpoint(md){
    padding: 60px 71px 70px;
  }
  @include breakpoint(sm){
    padding: 46px 20px;
  }

  &__row {
  }

  &__title {
    display: flex;
    column-gap: 15px;
    margin-bottom: 27px;

    @extend .title-glob;

    @include breakpoint(md){
      margin-bottom: 20px;
    }
  }

  &__title-txt {
    font-family: 'NAMU', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 50px;
    color: $mainColor;
    @include fluid-type(768px, $maxWidth, 26px, 42px);
    @include breakpoint(md){
      @include fluid-type(380px, 768px, 20px, 26px);
      line-height: 31px;
    }
    @include breakpoint(md){
      line-height: 24px;
    }
  }
  &__title-total{
    @extend .reviews__title-txt;
    color: $colorPink;
  }
  &__send-review {
    border-bottom: 1px solid #d5d5d5;
    display: grid;
    column-gap: 20px;
    grid-template-columns: 1fr 5fr;
    padding-bottom: 50px;
    @include breakpoint(lg){
      padding-bottom: 35px;
    }
    @include breakpoint(md){
      grid-template-columns: 2fr 6fr;
      padding-bottom: 20px;
    }
    @include breakpoint(sm){
      column-gap: 10px;
      grid-template-columns: repeat(2, 1fr);
      //justify-content: space-between;
    }
  }

  &__star-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__stars-mark {
    display: flex;
    column-gap: 4px;
    align-items: end;
  }

  &__stars-current {
    font-size: 30px;
    line-height: 1;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    @include fluid-type(768px, $maxWidth, 16px, 30px);
    @include breakpoint(md){
      //line-height: 22px;
    }
    @include breakpoint(sm){}

  }

  &__stars-max {
    font-size: 20px;
    line-height: 1;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    @include fluid-type(768px, $maxWidth, 12px, 20px);
    @include breakpoint(md){
      //line-height: 16px;
    }
  }

  &__stars-wrapper {
    display: flex;
    column-gap: 8px;
    @include breakpoint(md){
      column-gap: 3px;
    }
    @include breakpoint(sm){
      column-gap: 4px;
    }
  }
  &__star-outer{
    svg{
      width: 30px;
      @include breakpoint(lg){
        width: 20px;
      }
      @include breakpoint(md){
        width: 11px;
      }
      @include breakpoint(sm){
        width: 15px;
      }
    }
  }

  &__btn-wrapper {
    display: flex;
  }

  &__review-btn {
    padding: 15.5px 41px;
    border: 1px solid $mainColor;
    border-radius: 3px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    color: $mainColor;
    background-color: transparent;
    transition: .3s ease-in-out;
    @include fluid-type(768px, $maxWidth, 16px, 24px);
    @include breakpoint(md){
      padding: 7px 37px;
      line-height: 22px;
      @include fluid-type(380px, 768px, 12px, 16px);
    }
    @include breakpoint(sm){
      margin-left: auto;
      padding: 10px 20.5px;
      line-height: 16px;
    }
    @include breakpoint(xs38){
      padding: 10px 5px;
    }
    &:hover{
      background-color: $mainColor;
      color: #fff;
    }
  }

  &__history {
  }

  &__item {
  }

  .review {
    padding-top: 40px;
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: 2fr 7fr 2fr 1fr;
    column-gap: 20px;
    border-bottom: 1px solid #ABABAB;
    @include breakpoint(sm){
      padding-top: 30px;
      padding-bottom: 30px;
    }
    @include breakpoint(md){
      padding-top: 20px;
      padding-bottom: 20px;
      grid-template-columns: 2fr 4fr 1fr 1fr;
    }
    @include breakpoint(md){
      grid-template-columns: 2fr 5fr 1fr;
    }
    @include breakpoint(sm){
      grid-template-columns: repeat(4, 1fr);
      column-gap: 10px;
    }
    //grid-template-columns: ;
    &__user-mark {

      @include breakpoint(sm){
        row-gap: 1 / 2;
        column-gap: 1 / 3;
      }

    }

    &__username-wrapper {
      margin-bottom: 15px;
      @include breakpoint(md){
        margin-bottom: 5px;
      }
      @include breakpoint(sm){
        margin-bottom: 6px;
      }
    }

    &__username {
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 150%;
      color: $mainColor;
      @include fluid-type(768px, $maxWidth, 14px, 20px);
      @include breakpoint(md){
        @include fluid-type(380px, 768px, 12px, 14px);
      }
    }

    &__stars-wrapper {

    }

    &__stars {
      @extend .reviews__stars-wrapper;
    }
    &__star-outer{
      @extend .reviews__star-outer;

    }

    &__comment-wrapper {
      @include breakpoint(sm){
        grid-row: 2/3;
        grid-column: 1/5;
        margin-top: 10px;
      }
    }

    &__comment-title {
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 150%;
      color: $mainColor;
      margin-bottom: 10px;
      @include fluid-type(768px, $maxWidth, 14px, 20px);
      @include breakpoint(md){
        margin-bottom: 6px;
        @include fluid-type(380px,768px,12px, 14px);
      }
    }

    &__comment-txt {
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 140%;
      color: $mainColor;
      @include fluid-type(768px, $maxWidth, 12px, 18px);
    }

    &__date-wrapper {
      grid-column: 4/5;
      @include breakpoint(sm70){
        grid-column: 3/4;
      }
      @include breakpoint(sm){
        grid-column: 3/5;
        grid-row: 1/2;
        display: flex;
        justify-content: end;
      }
    }

    &__date {
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 150%;
      color: #909090;
      @include fluid-type(768px, $maxWidth, 12px, 18px);
    }
  }
  .img-block{
    padding: 25px 0 10px;
    @include breakpoint(md){
      padding: 20px 0 10px;
    }
    &__images{
      display: grid;
      grid-template-columns: repeat(auto-fit, 95px);
      gap: 20px;
      @include breakpoint(md){
        grid-template-columns: repeat(auto-fit, 61px);
      }
      @include breakpoint(sm){
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
      }
      a{
        &:nth-child(n + 5){
          display: none;
        }
        @include breakpoint(md){
          &:nth-child(n + 4){
            display: none;
          }
        }
        @include breakpoint(sm){
          &:nth-child(n + 5){
            display: none;
          }
        }
      }
    }
    &__show-all{
      margin-top: 10px;
      display: inline-block;
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 25px;
      color: $colorPink;
      position: relative;
      background-color: transparent;
      @include fluid-type(768px, $maxWidth, 12px, 18px);
      @include breakpoint(md){
        line-height: 16px;
      }
      &:before{
        content: '';
        width: 100%;
        height: 1px;
        background-color: $colorPink;
        position: absolute;
        left: 0;
        bottom: 0;
        transition: .3s ease-in-out;
      }
      &:hover{
        &:before{
          left: unset;
          right: 0;
          width: 0;
        }
      }
    }
    &__img-wrapper{
      height: 0;
      padding-bottom: 100%;
      position: relative;
      border-radius: 3px;

      img{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        object-fit: cover;
        transform:translate(-50%, -50%);
      }
    }
  }
}
/*__________ REVIEWS END__________*/

/*__________ FAQ __________*/

.faq {
  padding: 150px 20px;
  background: #F8F8F8;
  overflow: hidden;
  @include breakpoint(md){
    padding: 60px 71px 70px;
  }
  @include breakpoint(sm){
    padding: 46px 20px;
  }

  &__row {
  }

  &__title {
    font-family:'NAMU', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 50px;
    color: $mainColor;
    margin-bottom: 60px;
    @extend .title-glob;
    @include fluid-type(768px, $maxWidth, 26px, 42px);
    @include breakpoint(md){
      line-height: 31px;
      margin-bottom: 40px;
      @include fluid-type(380px, 768px, 20px, 26px);
    }
    @include breakpoint(sm){
      margin-bottom: 38px;
      line-height: 25px;
    }
  }

  .accordion{
    &__btn-svg {
      display: flex;
      transform:rotate(0deg);
      transition: .3s ease-in-out;
      svg{
        width: 36px;

        @include breakpoint(md){
          width: 30px;
        }
        @include breakpoint(sm){
          width: 24px;
        }
        path{
          transition: .3s ease-in-out;
        }
      }
    }
    &__body {
      background-color: transparent;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
      max-width: 910px;

      p{
        margin: 16px 0 50px;
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 150%;
        color: $mainColor;
        @include fluid-type(768px, $maxWidth, 14px, 18px);
        @include breakpoint(md){
          margin: 16px 0 40px;
          line-height: 140%;
          @include fluid-type(380px, 768px, 10px, 14px);
        }
        @include breakpoint(sm){
          margin: 16px 0 25px;
        }

      }
    }

    &__header {
      background-color: transparent;
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 30px;
      color: #444;
      cursor: pointer;
      padding: 31px 0;
      width: 100%;
      border: none;
      outline: none;
      font-size: 15px;
      transition: 0.4s;
      @include breakpoint(md){
        padding: 18px 0;
      }
      @include breakpoint(sm){
        padding: 16px 0;
      }
      &.active{
        //background-color: #ccc;
        .accordion__btn-svg{
          transform:rotate(45deg);
          svg{
            path{
              stroke: $colorPink;
            }
          }
        }
        .accordion__body{
          //padding: 16px 0px;
        }
      }
      &:hover{
        .accordion__btn-svg{
           svg{
             path{
               stroke: $colorPink;
             }
           }
        }
      }
    }
    &__header:hover {
      //background-color: #ccc;
    }
    &__item {
      border-bottom: 1px solid #ABABAB;
      &:first-child{
        border-top: 1px solid #ABABAB;
      }
    }
    &__btn-txt {
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 150%;
      color: $mainColor;
      text-align: start;
      @include fluid-type(768px, $maxWidth, 16px, 20px);
      @include breakpoint(md){
        line-height: 140%;
        @include fluid-type(380px, 768px, 13px, 16px)
      }
    }
  }
}

/*__________ FAQ END__________*/
/*__________ NEWS */
.news {
  overflow: hidden;
  padding: 150px 20px;
  @include breakpoint(md){
    padding: 60px 71px 70px;
  }
  @include breakpoint(sm){
    padding: 46px 20px;
  }

  &__row {
  }

  &__title {
    font-family: 'NAMU', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 50px;
    color: $mainColor;
    margin-bottom: 70px;
    @extend .title-glob;

    @include fluid-type(768px, $maxWidth, 26px, 42px);
    @include breakpoint(md){
      margin-bottom: 30px;
      @include fluid-type(380px, 768px, 20px, 26px);
      line-height: 31px;
    }
    @include breakpoint(sm){
      line-height: 24px;
    }
  }

  &__main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    @include breakpoint(sm70){
      grid-template-columns: repeat(2, 1fr);
    }
    @include breakpoint(sm){
      column-gap: 10px;
    }
    @include breakpoint(xs38){
      grid-template-columns: 1fr;
      row-gap: 20px;
    }
  }

  &__item {
  }

  &__more-btn {
  }


  .news-item {
    display: flex;
    flex-direction: column;
    transition: .3s ease-in-out;
    @include breakpoint(sm70){
      &:nth-child(n+3){
        display: none;
      }
    }
    &:hover{
      .news-item__img{
        transform: translate(-50%, -50%) scale(1.2);
      }
      .news-item__link-btn{
        &:after{
          left: unset;
          width: 0;
          right: 0;
        }
      }
    }

    &__img-wrapper {
      width: 100%;
      height: 0;
      padding-bottom: 66%;
      position: relative;
      overflow: hidden;
    }

    &__img {
      object-fit: cover;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 50%;
      top: 50%;
      transform:translate(-50%, -50%);
      transition: .3s ease-in-out;
    }

    &__date {
      margin: 30px 0 20px;
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 150%;
      color: #919191;
      @include fluid-type(768px, $maxWidth, 12px, 18px);

      @include breakpoint(md){
        margin:12px 0 10px;
      }
      @include breakpoint(sm){
        margin: 10px 0 6px;
      }
    }

    &__txt {
      //padding-top: 30px;
      flex: 1;
      display: flex;
      flex-direction: column;
      @include breakpoint(md){
        //padding-top: 12px;
      }
      @include breakpoint(sm){
        //padding-top: 10px;
      }
    }

    &__title {
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 120%;
      color: $mainColor;
      margin-bottom: 15px;
      @include fluid-type(768px, $maxWidth, 14px, 20px);
      @include breakpoint(md){
        @include fluid-type(380px, 768px, 12px, 14px);
        margin-bottom: 6px;
      }
      @include breakpoint(sm){

      }

    }

    &__desc {
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 120%;
      color: #000000;
      margin-bottom: 20px;
      @include fluid-type(768px, $maxWidth, 12px, 18px);
      @include breakpoint(md){
        @include fluid-type(380px, 768px, 10px, 12px);
        margin-bottom: 10px;
      }
      @include breakpoint(sm){
        line-height: 140%;
        margin-bottom: 6px;
      }
    }

    &__link-btn {
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 25px;
      color: $colorPink;
      position: relative;
      width: fit-content;
      background-color: transparent;
      @include fluid-type(768px, $maxWidth, 12px, 18px);
      @include breakpoint(md){
        line-height: 16px;
      }
      &:after{
        content: '';
        background-color: $colorPink;
        position: absolute;
        left: 0;
        bottom: -1px;
        height: 1px;
        width: 100%;
        transition: .3s ease-in-out;
      }
      &:hover{
        &:after{
          width: 0;
          left: unset;
          right: 0;
        }
      }
    }
  }

  .news-btn {
    margin: 80px auto 0;
    display: flex;
    column-gap: 30px;
    align-items: center;
    padding: 15.5px 49px;
    border: 1px solid $mainColor;
    border-radius: 3px;
    width: fit-content;
    transition: .3s ease-in-out;

    @include breakpoint(md){
      margin-top: 40px;
      column-gap: 14px;
      padding: 7px 26.5px;
    }
    @include breakpoint(sm){
      margin-top: 30px;
      padding: 8px 21.5px;
    }
    &:hover{
      background-color: $mainColor;
      box-shadow: 0 0 15px rgba(0, 0, 0, .4);
      .news-btn__txt{
        color: #fff;
      }
      .news-btn__svg-wrapper{
        svg{
          path{
            fill: #fff;
          }
        }
      }
    }
    &__txt {

      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 33px;
      color: $mainColor;
      transition: .3s ease-in-out;

      @include fluid-type(768px, $maxWidth, 16px, 24px);
      @include breakpoint(md){
        @include fluid-type(380px, 768px, 15px, 16px);
        line-height: 22px;
      }
      @include breakpoint(sm){
        line-height: 20px;
      }
    }

    &__svg-wrapper {
      display: flex;
      svg{
        width: 25px;
        @include breakpoint(sm){
          width: 15px;
        }
        path{
          transition: .3s ease-in-out;
        }
      }
    }

  }
}
/*__________ NEWS END__________*/
/*__________ CONTACTS __________*/

.contacts {
  background-color: #F8F8F8;
  padding: 150px 20px;
  @include breakpoint(md){
    padding: 60px 71px 70px;
  }
  @include breakpoint(sm){
    padding: 46px 20px;
  }

  &__row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 155px;
    @include breakpoint(xl){
      column-gap: calc(100vw / 9);
    }
    @include breakpoint(lg){
      column-gap: 30px;
    }
    @include breakpoint(sm70){
      grid-template-columns: 1fr;
      row-gap: 46px;
    }
    @include breakpoint(md){
      column-gap: 20px;
    }
  }

  &__form-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__form-title {
    font-family: 'NAMU', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 50px;
    color: $mainColor;
    margin-bottom: 50px;
    @include fluid-type(768px, $maxWidth, 20px, 42px);
    @include breakpoint(md){
      margin-bottom: 20px;
      line-height: 24px;
    }
  }
  &__feedback{
    .form__input-wrapper{
      &:nth-child(2){
        margin-top: 20px;
        .form__input{

        }
      }
    }
  }
  &__feedback, &__subscription {
    display: flex;
    flex-direction: column;
  }


  &__subscription {
  }

  .form {
    &__fake-placeholder{
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 25px;
      color: #ABABAB;
      position: absolute;
      left: 0;
      top: 7px;
      //z-index: -1;
      transition: top .3s ease-in-out,
      font-size .3s ease-in-out,
      color .3s ease-in-out,
      font-weight .3s ease-in-out;
      @include fluid-type(768px, $maxWidth, 12px, 18px);
      @include breakpoint(md){
        line-height: 16px;
        top: 6px;
      }
      &.active{

      }

    }
    &__input-wrapper {
      position: relative;
      padding: 7px 0;
      border-bottom: 1px solid $mainColor;
      @include breakpoint(sm){
        padding: 6px 0;
      }

    }

    &__input {
      background-color: #F8F8F8;
      width: 100%;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 25px;
      color: $mainColor;
      @include fluid-type(768px, $maxWidth, 12px, 18px);
      @include breakpoint(md){
        line-height: 16px;
      }
      &::placeholder{
        opacity: 0;
        transition: .4s ease-in-out;
      }
      &:focus{
        &::placeholder{
          opacity: 1;
        }
      }
      & ~ .form__fake-placeholder.active{
        left: 0;
        top: -20px;
        font-size: 20px;
        color: $mainColor;
        font-weight: 500;

        @include breakpoint(md){
          font-size: 15px;
          top: -12px;
        }
      }
    }

    &__submit-btn {
      margin-top: 70px;
      background-color: $mainColor;
      border-radius: 3px;
      padding: 15.5px 42.5px;
      color:#fff;
      width: fit-content;
      transition: .3s ease-in-out;
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 33px;
      @include fluid-type(768px, $maxWidth, 16px, 24px);
      @include breakpoint(md){
        @include fluid-type(380px, 768px, 15px, 16px);
        line-height: 22px;
        padding:7px 26px;
        margin-top: 40px;
      }
      @include breakpoint(sm){
        line-height: 20px;
        padding: 8px 25px;
        margin-top: 36px;
      }
      &:hover{
        background-color: $colorPink;
      }

    }
    &__submit-btn--subscription:disabled,
    &__submit-btn--subscription[disabled=disabled]{
      opacity: .4;
      &:hover{
        background-color: $mainColor;
      }
    }
    &__subscription-footer{
      display: flex;
      flex-direction: column;
      row-gap: 30px;
      @include breakpoint(md){
        row-gap: 21px;
      }
      @include breakpoint(sm){
        row-gap: 16px;
      }
    }
    &__checkbox-label {
      //margin-top: 35px;
      cursor: pointer;
      display: flex;
      column-gap: 16px;
      align-items: center;
      @include breakpoint(md){
        column-gap: 14px;
        //margin-top: 21px;
      }
      @include breakpoint(sm){
        column-gap: 10px;
      }
    }

    &__checkbox {
      display: none;

      &:checked ~ .form__fake-checkbox:before{
        opacity: 1;
      }
    }

    &__fake-checkbox {
      display: block;
      border:1px solid $mainColor;
      border-radius: 3px;
      width: 30px;
      min-width: 30px;
      height: 30px;
      cursor: pointer;
      position: relative;

      @include breakpoint(md){
        width: 19px;
        min-width: 19px;
        height: 19px;
      }
      &:before{
        content: '';
        background-image: url("../img/check.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 16.5px 11px;
        display: block;
        height: 100%;
        opacity: 0;
        transition:opacity .3s ease-in-out;
        @include breakpoint(md){
          background-size: 11px 7px;
        }
      }
    }

    &__checkbox-txt {
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      user-select:none;
      font-weight: 400;
      font-size: 16px;
      line-height: 120%;
      color: #000000;
      @include fluid-type(768px, $maxWidth, 10px, 16px);
      @include breakpoint(sm){
        font-weight: 300;
      }
    }
  }



}

/*__________ CONTACTS END__________*/
