/*FONTS*/
$NAMUFontPath: '../fonts/NAMU/';

/*FONTS*/
/*NAVIGATION*/
$navBreakpoint: md;
/*NAVIGATION*/

/*CONTENT*/
$maxWidth: 1360px;
/*CONTENT*/

$mainColor: #111111;
$secondaryColor: #68ce18;
$colorPink: #C5358C;