<footer class="footer">
    <div class="content">
        <div class="footer__row">
            <a href="#" class="footer__logo-wrapper">
                <img src="img/logo.svg" alt="Footer logo">
            </a>
            <div class="footer__main">
                <p class="footer__about footer__title">О компании</p>
                <div class="footer__shop">
                    <p class="footer__title">Магазин</p>
                    <ul class="footer__list">
                        <li class="footer__item">
                            <a href="#" class="footer__link">Фены Dyson Supersonic</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">Стайлеры Dyson Airwrap</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">Выпрямители Dyson Corrale</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">Пылесосы</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">Климатическая техника</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">Освещение</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">Аксессуары</a>
                        </li>
                    </ul>

                </div>
                <div class="footer__general">
                    <p class="footer__title">Общая информация</p>
                    <ul class="footer__list">
                        <li class="footer__item">
                            <a href="#" class="footer__link">Новости</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">Доставка</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">Гарантия</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">Оплата товара</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">Свяжитесь с нами</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">Политика конфиденциальности</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">Договор оферты</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__promotions">
                    <p class="footer__title">Акции</p>
                    <ul class="footer__list">
                        <li class="footer__item">
                            <a href="#" class="footer__link">Подарочная коллекция</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">Эксклюзивные предложения</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__logistics">
                    <p class="footer__title">Отдел логистики:</p>
                    <a href="tel:+79998004554" class="footer__phone-number">+7 (999) 800-45-54</a>
                    <div class="footer__socials">
                        <a href="#" class="footer__telegram footer__social">
                            <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M20 40C31.0457 40 40 31.0457 40 20C40 8.95431 31.0457 0 20 0C8.95431 0 0 8.95431 0 20C0 31.0457 8.95431 40 20 40Z" fill="white"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.17357 19.6563C14.9894 17.1223 18.8672 15.4516 20.8071 14.6442C26.3475 12.3409 27.5047 11.9409 28.2489 11.926C28.5249 11.9207 28.7956 12.002 29.0229 12.1586C29.1824 12.2961 29.2841 12.4888 29.3075 12.6981C29.3476 12.9584 29.3588 13.2223 29.341 13.4851C29.0415 16.6479 27.741 24.2925 27.0805 27.8256C26.8015 29.3139 26.2508 29.8218 25.7168 29.8721C24.5596 29.9781 23.6703 29.1056 22.554 28.3707C20.7978 27.2191 19.8061 26.5102 18.1019 25.3791C16.1317 24.0767 17.4098 23.3679 18.5317 22.2032C18.8257 21.8981 23.9271 17.2544 24.0275 16.8339C24.0408 16.7718 24.0392 16.7075 24.0231 16.6461C24.0069 16.5847 23.9766 16.528 23.9345 16.4804C23.8734 16.4423 23.8043 16.4189 23.7326 16.4121C23.6609 16.4053 23.5886 16.4153 23.5215 16.4414C23.3466 16.4798 20.5423 18.3335 15.1085 22.0023C14.3122 22.5493 13.5909 22.816 12.9447 22.8023C12.2322 22.7856 10.8629 22.3986 9.84333 22.0581C8.59496 21.6525 7.61078 21.4386 7.68892 20.7558C7.73481 20.3986 8.22969 20.0321 9.17357 19.6563Z" fill="#111111"/>
                            </svg>
                        </a>
                        <a href="#" class="footer__vk footer__social">
                            <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M20 40C31.0457 40 40 31.0457 40 20C40 8.95431 31.0457 0 20 0C8.95431 0 0 8.95431 0 20C0 31.0457 8.95431 40 20 40Z" fill="white"/>
                                <path d="M20.733 27.3746C12.9786 27.3746 8.55812 22.0574 8.37207 13.209H12.2549C12.3832 19.702 15.2465 22.4536 17.5144 23.0211V13.209H21.1739V18.809C23.4065 18.569 25.7674 16.0183 26.56 13.209H30.2195C29.6093 16.6676 27.0567 19.2201 25.2428 20.2694C26.6615 20.974 27.9145 21.9716 28.919 23.1965C29.9235 24.4213 30.6566 25.8454 31.0697 27.3746H27.0437C26.1786 24.6806 24.0223 22.5969 21.1739 22.3141V27.3746H20.733Z" fill="#111111"/>
                            </svg>

                        </a>
                        <a href="#" class="footer__youtube footer__social">
                            <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_388_4872)">
                                    <path d="M20 40C31.0457 40 40 31.0457 40 20C40 8.95431 31.0457 0 20 0C8.95431 0 0 8.95431 0 20C0 31.0457 8.95431 40 20 40Z" fill="white"/>
                                    <path d="M29.866 14.9164C29.7481 14.4771 29.5167 14.0765 29.1951 13.7548C28.8734 13.4332 28.4728 13.2018 28.0335 13.0839C26.4186 12.6504 19.9349 12.6504 19.9349 12.6504C19.9349 12.6504 13.4511 12.6504 11.8344 13.0839C11.3956 13.2028 10.9955 13.4346 10.674 13.7561C10.3525 14.0776 10.1208 14.4776 10.0018 14.9164C9.56835 16.5332 9.56836 19.9062 9.56836 19.9062C9.56836 19.9062 9.56835 23.2792 10.0018 24.896C10.1208 25.3348 10.3525 25.7349 10.674 26.0563C10.9955 26.3778 11.3956 26.6096 11.8344 26.7285C13.4511 27.162 19.9349 27.162 19.9349 27.162C19.9349 27.162 26.4167 27.162 28.0335 26.7285C28.4728 26.6106 28.8734 26.3792 29.1951 26.0576C29.5167 25.7359 29.7481 25.3353 29.866 24.896C30.2995 23.2792 30.2995 19.9062 30.2995 19.9062C30.2995 19.9062 30.2995 16.5332 29.866 14.9164ZM17.8604 23.015V16.7974L23.2558 19.9062L17.8604 23.015Z" fill="#111111"/>
                                </g>
                                <defs>
                                    <clipPath id="clip0_388_4872">
                                        <rect width="40" height="40" fill="white"/>
                                    </clipPath>
                                </defs>
                            </svg>
                        </a>
                    </div>
                </div>

                <p class="footer__copyrights">
                    Интернет-магазин dysmarket.ru, 2022 © Все права защищены.
                </p>

            </div>
        </div>
    </div>
</footer>