<header class="header">
    <div class="content">
        <nav class="nav" aria-label="Open menu" role="navigation">
            <button type="button" class="hamburger" aria-haspopup="true" aria-controls="nav-menu" aria-expanded="true">
                <span class="hamburger__bar"></span>
                <span class="hamburger__bar"></span>
                <span class="hamburger__bar"></span>
            </button>

            <a href="#" class="nav__logo">
                <img src="img/logo.svg" alt="Логотип">
            </a>
            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="#" class="nav__link">О нас</a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">Доставка и оплата</a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">Регистрация продукта</a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">Сервис</a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">Сертификаты и лицензии</a>
                    </li>
                </ul>
            </div>
            <a href="#" class="nav__cart cart">
                <span class="cart__icon-wrapper">
                    <svg class="cart__icon"  viewBox="0 0 37 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.27979 13.5C5.27979 11.8431 6.62293 10.5 8.27979 10.5H29.2798C30.9367 10.5 32.2798 11.8431 32.2798 13.5V30C32.2798 31.6569 30.9367 33 29.2798 33H8.27979C6.62293 33 5.27979 31.6569 5.27979 30V13.5Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M12.7798 15V9C12.7798 5.68629 15.4661 3 18.7798 3C22.0934 3 24.7798 5.68629 24.7798 9V14.5332" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </span>
                <span class="cart__items-total">1</span>
            </a>


        </nav>
    </div>
</header>