<section class="advantages">
    <div class="content">
        <div class="advantages__row">
            <h2 class="advantages__title">Почему выбирают нас</h2>
            <div class="advantages__cards">
              <div class="advantages__card card">
                  <div class="card__svg-wrapper">
                      <svg width="74" height="80" viewBox="0 0 74 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M0 1.48649C0 0.665523 0.665523 0 1.48649 0H11.0056C11.7171 0 12.3287 0.504066 12.4647 1.20237L15.5479 17.036H72.514C73.335 17.036 74.0005 17.7015 74.0005 18.5225V29.6329V40.0026V50.3723C74.0005 51.1933 73.335 51.8588 72.514 51.8588H20.5248H12.4921V64.4404H72.514C73.335 64.4404 74.0005 65.1059 74.0005 65.9269C74.0005 66.7478 73.335 67.4134 72.514 67.4134H62.3712C63.663 68.7489 64.4593 70.5769 64.4593 72.593C64.4593 76.6838 61.181 80 57.1369 80C53.0928 80 49.8145 76.6838 49.8145 72.593C49.8145 70.5769 50.6108 68.7489 51.9026 67.4134H33.0809C34.3728 68.7489 35.1691 70.5769 35.1691 72.593C35.1691 76.6838 31.8907 80 27.8466 80C23.8026 80 20.5242 76.6838 20.5242 72.593C20.5242 70.5769 21.3205 68.7489 22.6124 67.4134H11.0056C10.1847 67.4134 9.51916 66.7478 9.51916 65.9269V50.3723C9.51916 49.5513 10.1847 48.8858 11.0056 48.8858H18.7209L17.0465 40.2867L15.0273 29.917L12.8638 18.8066L9.78069 2.97297H1.48649C0.665523 2.97297 0 2.30745 0 1.48649ZM21.7498 48.8858H71.0275V41.4891H20.3094L21.7498 48.8858ZM19.7305 38.5161H71.0275V31.1194H18.2902L19.7305 38.5161ZM17.7113 28.1464H71.0275V20.0089H16.1268L17.7113 28.1464ZM27.8466 77.027C30.2167 77.027 32.1961 75.0741 32.1961 72.593C32.1961 70.112 30.2167 68.1591 27.8466 68.1591C25.4766 68.1591 23.4972 70.112 23.4972 72.593C23.4972 75.0741 25.4766 77.027 27.8466 77.027ZM61.4864 72.593C61.4864 75.0741 59.507 77.027 57.1369 77.027C54.7668 77.027 52.7874 75.0741 52.7874 72.593C52.7874 70.112 54.7668 68.1591 57.1369 68.1591C59.507 68.1591 61.4864 70.112 61.4864 72.593Z" fill="#C5358C"/>
                      </svg>

                  </div>
                  <div class="card__txt">
                      <p class="card__title">
                          Широкий ассортимент
                      </p>
                      <p class="card__desc">
                          Большой выбор техники и аксессуаров
                      </p>
                  </div>
              </div>
              <div class="advantages__card card">
                  <div class="card__svg-wrapper">
                      <svg width="79" height="56" viewBox="0 0 79 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M0 1.48649C0 0.665523 0.665523 0 1.48649 0H17.7247H36.9158H52.4167C53.2376 0 53.9031 0.665523 53.9031 1.48649V8.84002H66.4412C67.0807 8.84002 67.6486 9.24903 67.8512 9.85561L72.6788 24.3102H77.513C78.334 24.3102 78.9995 24.9757 78.9995 25.7966V45.6868C78.9995 46.5078 78.334 47.1733 77.513 47.1733H75.1921C74.4702 52.165 70.1664 56.0004 64.965 56.0004C59.5105 56.0004 55.043 51.7826 54.6582 46.4366H52.4311L52.4167 46.4367H30.984C30.5992 51.7826 26.1317 56.0004 20.6772 56.0004C15.2228 56.0004 10.7553 51.7826 10.3705 46.4367H1.48649C0.665523 46.4367 0 45.7712 0 44.9502V1.48649ZM54.872 43.4637C55.8907 38.8364 60.0226 35.3735 64.965 35.3735C70.1663 35.3735 74.4701 39.2088 75.1921 44.2003H76.0265V27.2831H71.6081H53.9035V43.4637H54.872ZM50.9302 43.4637H30.7702C29.7516 38.8364 25.6196 35.3735 20.6772 35.3735C15.7349 35.3735 11.6029 38.8364 10.5843 43.4637H2.97297V2.97297H16.2382V16.22C16.2382 16.7429 16.5131 17.2275 16.9619 17.4958C17.4108 17.7642 17.9677 17.7769 18.4284 17.5293L27.3203 12.7508L36.2121 17.5293C36.6728 17.7769 37.2297 17.7642 37.6786 17.4958C38.1274 17.2275 38.4023 16.7429 38.4023 16.22V2.97297H50.9302V43.4637ZM53.9031 24.3102H69.5444L65.3705 11.813H53.9031V24.3102ZM19.2112 2.97297H35.4293V13.7336L28.0239 9.75386C27.5845 9.51772 27.056 9.51772 26.6166 9.75386L19.2112 13.7336V2.97297ZM31.0012 26.5332C31.0012 25.7123 31.6667 25.0468 32.4877 25.0468H42.8214C43.6423 25.0468 44.3078 25.7123 44.3078 26.5332C44.3078 27.3542 43.6423 28.0197 42.8214 28.0197H32.4877C31.6667 28.0197 31.0012 27.3542 31.0012 26.5332ZM35.4402 33.887C34.6192 33.887 33.9537 34.5525 33.9537 35.3735C33.9537 36.1945 34.6192 36.86 35.4402 36.86H42.8206C43.6415 36.86 44.3071 36.1945 44.3071 35.3735C44.3071 34.5525 43.6415 33.887 42.8206 33.887H35.4402ZM20.6772 53.0274C24.7479 53.0274 28.0379 49.7355 28.0379 45.6869C28.0379 41.6384 24.7479 38.3465 20.6772 38.3465C16.6066 38.3465 13.3166 41.6384 13.3166 45.6869C13.3166 49.7355 16.6066 53.0274 20.6772 53.0274ZM72.3257 45.6869C72.3257 49.7355 69.0357 53.0274 64.965 53.0274C60.8943 53.0274 57.6043 49.7355 57.6043 45.6869C57.6043 41.6384 60.8943 38.3465 64.965 38.3465C69.0357 38.3465 72.3257 41.6384 72.3257 45.6869Z" fill="#C5358C"/>
                      </svg>

                  </div>
                  <div class="card__txt">
                      <p class="card__title">
                          Быстрая доставка
                      </p>
                      <p class="card__desc">
                          По Москве — 2-3 часа; По России — 2-4 дня
                      </p>
                  </div>
              </div>
              <div class="advantages__card card">
                  <div class="card__svg-wrapper">
                      <svg width="80" height="55" viewBox="0 0 80 55" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path opacity="0.9" d="M32.7907 2H2V53H32.7907M32.7907 2H78V53H32.7907M32.7907 2V53M9.62791 27.3591H24.3256M9.62791 38.7238H24.3256M9.62791 15.6188H24.3256M63.0251 12.4254L48.4186 41.0718M70.1861 35.5304C70.1861 39.0577 67.3956 41.9171 63.9535 41.9171C60.5113 41.9171 57.7209 39.0577 57.7209 35.5304C57.7209 32.0031 60.5113 29.1436 63.9535 29.1436C67.3956 29.1436 70.1861 32.0031 70.1861 35.5304ZM53.4419 18.2486C53.4419 21.7759 50.6515 24.6354 47.2093 24.6354C43.7672 24.6354 40.9767 21.7759 40.9767 18.2486C40.9767 14.7213 43.7672 11.8619 47.2093 11.8619C50.6515 11.8619 53.4419 14.7213 53.4419 18.2486Z" stroke="#C5358C" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>

                  </div>
                  <div class="card__txt">
                      <p class="card__title">
                          Специальное предложение
                      </p>
                      <p class="card__desc">
                          Только для клиентов нашего сайта
                      </p>
                  </div>
              </div>
              <div class="advantages__card card">
                  <div class="card__svg-wrapper">
                      <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M1.48649 0C0.665523 0 0 0.665523 0 1.48649V57.7793C0 58.6002 0.665523 59.2657 1.48649 59.2657H35.9741V57.9869C36.0846 70.1634 45.8976 80 57.9866 80C70.1442 80 80 70.0514 80 57.7791C80 45.5301 70.1815 35.596 58.0556 35.5584H60.2078V1.48649C60.2078 0.665523 59.5423 0 58.7213 0H1.48649ZM57.9176 35.5584H57.2348V2.97297H40.3954V16.3004C40.3954 16.8337 40.1097 17.3262 39.6467 17.5909C39.1836 17.8556 38.6143 17.8519 38.1547 17.5813L30.0743 12.8233L21.2743 17.6064C20.8137 17.8567 20.2553 17.846 19.8047 17.578C19.3541 17.3101 19.078 16.8246 19.078 16.3004V2.97297H2.97297V56.2928H35.9741V57.5714C36.0844 45.418 45.8603 35.5958 57.9176 35.5584ZM22.0509 13.8005V2.97297H37.4225V13.7L30.8578 9.83458C30.408 9.56974 29.8523 9.56021 29.3937 9.80947L22.0509 13.8005ZM10.2914 31.1091C9.47041 31.1091 8.80489 31.7746 8.80489 32.5956C8.80489 33.4166 9.47041 34.0821 10.2914 34.0821H26.4355C27.2565 34.0821 27.922 33.4166 27.922 32.5956C27.922 31.7746 27.2565 31.1091 26.4355 31.1091H10.2914ZM67.0323 54.4592C67.6531 53.922 67.7209 52.9832 67.1838 52.3624C66.6466 51.7416 65.7079 51.6737 65.087 52.2109L56.0244 60.0521L52.5764 55.4115C52.0867 54.7525 51.1556 54.6152 50.4966 55.1048C49.8377 55.5944 49.7004 56.5255 50.19 57.1845L54.5929 63.1105C54.8395 63.4423 55.2131 63.6565 55.624 63.7015C56.0349 63.7466 56.4461 63.6185 56.7587 63.348L67.0323 54.4592ZM8.80489 44.4467C8.80489 43.6257 9.47041 42.9602 10.2914 42.9602H22.0326C22.8535 42.9602 23.519 43.6257 23.519 44.4467C23.519 45.2676 22.8535 45.9332 22.0326 45.9332H10.2914C9.47041 45.9332 8.80489 45.2676 8.80489 44.4467ZM77.0649 57.7791C77.0649 68.4151 68.5232 77.0372 57.9866 77.0372C47.4499 77.0372 38.9083 68.4151 38.9083 57.7791C38.9083 47.1432 47.4499 38.5211 57.9866 38.5211C68.5232 38.5211 77.0649 47.1432 77.0649 57.7791Z" fill="#C5358C"/>
                      </svg>

                  </div>
                  <div class="card__txt">
                      <p class="card__title">
                          Гарантия производителя
                      </p>
                      <p class="card__desc">
                          Гарантия 2 года на устройства и аксессуары
                      </p>
                  </div>
              </div>
              <div class="advantages__card card">
                  <div class="card__svg-wrapper">
                      <svg width="78" height="80" viewBox="0 0 78 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M59.5761 46.3411V78H2V36.4098H42.0449H43.3367M59.5761 46.3411L76 37.8086V9.36687C76 9.36687 73.6304 7.69294 72.3538 6.1047C71.1216 4.57176 69.9102 2 69.9102 2H49.288C49.288 2 48.6618 4.56592 47.4629 6.1047C46.2103 7.71236 43.3367 9.36687 43.3367 9.36687V36.4098M59.5761 46.3411L43.3367 36.4098M54.9626 23.0748L58.2843 26.0589L65.4813 19.9975M10.3965 44.4294H21.6534V55.6196H10.3965V44.4294ZM9.28928 64.5718H15.1945V69.0479H9.28928V64.5718ZM46.3815 64.5718H52.2868V69.0479H46.3815V64.5718ZM34.0175 64.5718H39.9227V69.0479H34.0175V64.5718ZM21.6534 64.5718H27.5586V69.0479H21.6534V64.5718Z" stroke="#C5358C" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>

                  </div>
                  <div class="card__txt">
                      <p class="card__title">
                          Безопасная оплата
                      </p>
                      <p class="card__desc">
                          Оплата после получения товара
                      </p>
                  </div>
              </div>
              <div class="advantages__card card">
                  <div class="card__svg-wrapper">
                      <svg width="52" height="77" viewBox="0 0 52 77" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M1.5 0C0.671573 0 0 0.671573 0 1.5V75.5C0 76.3284 0.671573 77 1.5 77H50.5C51.3284 77 52 76.3284 52 75.5V57.37V1.5C52 0.671573 51.3284 0 50.5 0H26H1.5ZM49 3V55.87H3V3H26H49ZM49 74V58.87H3V74H49ZM19.9664 65.86C19.138 65.86 18.4664 66.5316 18.4664 67.36C18.4664 68.1884 19.138 68.86 19.9664 68.86H30.2052C31.0337 68.86 31.7052 68.1884 31.7052 67.36C31.7052 66.5316 31.0337 65.86 30.2052 65.86H19.9664ZM14.9487 16.9535C15.2426 16.6678 15.65 16.5 16.0833 16.5H21.2451L23.4491 21.8568L20.7234 23.4468C20.0373 23.847 19.7821 24.7127 20.1414 25.4211C21.9446 28.9757 24.8991 31.844 28.539 33.5892C29.2307 33.9209 30.0611 33.6772 30.464 33.0245L32.1205 30.3403L37.7083 32.5134V37.4826C37.7083 37.866 37.5521 38.2425 37.2596 38.5268C36.9743 38.8042 36.5821 38.9704 36.1629 38.9799C30.522 38.6346 25.2111 36.3005 21.2249 32.425C17.2411 28.5518 14.8548 23.4071 14.5005 17.9585C14.5108 17.5887 14.6662 17.2281 14.9487 16.9535ZM16.0833 13.5C14.8812 13.5 13.72 13.9639 12.8575 14.8025C11.9935 15.6425 11.5 16.791 11.5 17.9977C11.5 18.0289 11.501 18.0601 11.5029 18.0913C11.892 24.3157 14.6105 30.1784 19.1337 34.576C23.6558 38.9725 29.669 41.6015 36.0365 41.9777C36.066 41.9795 36.0955 41.9803 36.125 41.9803C37.3272 41.9803 38.4883 41.5164 39.3509 40.6778C40.2149 39.8378 40.7083 38.6894 40.7083 37.4826V31.4873C40.7083 30.8686 40.3286 30.3135 39.752 30.0893L32.0437 27.0916C31.3692 26.8293 30.6036 27.086 30.2235 27.7018L28.6501 30.2514C26.5542 29.0144 24.7951 27.3128 23.515 25.2915L26.0891 23.7899C26.736 23.4126 27.0054 22.616 26.7205 21.9235L23.6372 14.4293C23.4058 13.867 22.858 13.5 22.25 13.5H16.0833Z" fill="#C5358C"/>
                      </svg>

                  </div>
                  <div class="card__txt">
                      <p class="card__title">
                          Бесплатная консультация
                      </p>
                      <p class="card__desc">
                          В любом удобном для вас формате, 7 дней в неделю
                      </p>
                  </div>
              </div>
            </div>
        </div>
    </div>
</section>