<section class="categories">
    <div class="content">
        <div class="categories__row">
            <div class="categories__cards">
                <a href="#" class="categories__card card">

                    <div class="card__img-wrapper">
                        <img src="img/card-1.png" alt="Hair dryer" class="card__img">
                    </div>
                    <div class="card__footer">
                        <p class="card__title">Акции</p>
                        <div class="card__link">
                            <span class="card__link-txt">Подробнее</span>
                            <span class="card__svg-wrapper">
                                <svg width="28" height="25" viewBox="0 0 28 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M25.2237 13.0666L1.03236 12.8613C0.580109 12.8575 0.217931 12.4853 0.226425 12.0331C0.234797 11.5874 0.600443 11.2316 1.04616 11.2354L25.3725 11.4418L16.0366 1.43038C15.7287 1.10023 15.7468 0.583009 16.077 0.275137C16.4071 -0.032734 16.9243 -0.0146712 17.2322 0.315481L27.7307 11.5738C28.1074 11.9777 28.0853 12.6104 27.6814 12.9871L15.7599 24.104C15.4332 24.4087 14.9213 24.3908 14.6165 24.0641C14.3118 23.7373 14.3297 23.2254 14.6565 22.9207L25.2237 13.0666Z" fill="#111111"/>
                                </svg>
                            </span>
                        </div>
                    </div>
                </a>
                <a href="#" class="categories__card card">
                    <div class="card__img-wrapper">
                        <img src="img/card-2.png" alt="Hair dryer" class="card__img">
                    </div>
                    <div class="card__footer">
                        <p class="card__title">Фены</p>
                        <div class="card__link">
                            <span class="card__link-txt">Подробнее</span>
                            <span class="card__svg-wrapper">
                                <svg width="28" height="25" viewBox="0 0 28 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M25.2237 13.0666L1.03236 12.8613C0.580109 12.8575 0.217931 12.4853 0.226425 12.0331C0.234797 11.5874 0.600443 11.2316 1.04616 11.2354L25.3725 11.4418L16.0366 1.43038C15.7287 1.10023 15.7468 0.583009 16.077 0.275137C16.4071 -0.032734 16.9243 -0.0146712 17.2322 0.315481L27.7307 11.5738C28.1074 11.9777 28.0853 12.6104 27.6814 12.9871L15.7599 24.104C15.4332 24.4087 14.9213 24.3908 14.6165 24.0641C14.3118 23.7373 14.3297 23.2254 14.6565 22.9207L25.2237 13.0666Z" fill="#111111"/>
                                </svg>
                            </span>
                        </div>
                    </div>
                </a>
                <a href="#" class="categories__card card">
                    <div class="card__img-wrapper">
                        <img src="img/card-3.png" alt="Styler" class="card__img">
                    </div>
                    <div class="card__footer">
                        <p class="card__title">Стайлеры</p>
                        <div class="card__link">
                            <span class="card__link-txt">Подробнее</span>
                            <span class="card__svg-wrapper">
                                <svg width="28" height="25" viewBox="0 0 28 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M25.2237 13.0666L1.03236 12.8613C0.580109 12.8575 0.217931 12.4853 0.226425 12.0331C0.234797 11.5874 0.600443 11.2316 1.04616 11.2354L25.3725 11.4418L16.0366 1.43038C15.7287 1.10023 15.7468 0.583009 16.077 0.275137C16.4071 -0.032734 16.9243 -0.0146712 17.2322 0.315481L27.7307 11.5738C28.1074 11.9777 28.0853 12.6104 27.6814 12.9871L15.7599 24.104C15.4332 24.4087 14.9213 24.3908 14.6165 24.0641C14.3118 23.7373 14.3297 23.2254 14.6565 22.9207L25.2237 13.0666Z" fill="#111111"/>
                                </svg>
                            </span>
                        </div>
                    </div>
                </a>
                <a href="#" class="categories__card card">
                    <div class="card__img-wrapper">
                        <img src="img/card-4.png" alt="Styler" class="card__img">
                    </div>
                    <div class="card__footer">
                        <p class="card__title">Выпрямители</p>
                        <div class="card__link">
                            <span class="card__link-txt">Подробнее</span>
                            <span class="card__svg-wrapper">
                                <svg width="28" height="25" viewBox="0 0 28 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M25.2237 13.0666L1.03236 12.8613C0.580109 12.8575 0.217931 12.4853 0.226425 12.0331C0.234797 11.5874 0.600443 11.2316 1.04616 11.2354L25.3725 11.4418L16.0366 1.43038C15.7287 1.10023 15.7468 0.583009 16.077 0.275137C16.4071 -0.032734 16.9243 -0.0146712 17.2322 0.315481L27.7307 11.5738C28.1074 11.9777 28.0853 12.6104 27.6814 12.9871L15.7599 24.104C15.4332 24.4087 14.9213 24.3908 14.6165 24.0641C14.3118 23.7373 14.3297 23.2254 14.6565 22.9207L25.2237 13.0666Z" fill="#111111"/>
                                </svg>
                            </span>
                        </div>
                    </div>
                </a>

                <a href="#" class="categories__card card">
                    <div class="card__img-wrapper">
                        <img src="img/card-4.png" alt="Styler" class="card__img">
                    </div>
                    <div class="card__footer">
                        <p class="card__title">Выпрямители</p>
                        <div class="card__link">
                            <span class="card__link-txt">Подробнее</span>
                            <span class="card__svg-wrapper">
                                <svg width="28" height="25" viewBox="0 0 28 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M25.2237 13.0666L1.03236 12.8613C0.580109 12.8575 0.217931 12.4853 0.226425 12.0331C0.234797 11.5874 0.600443 11.2316 1.04616 11.2354L25.3725 11.4418L16.0366 1.43038C15.7287 1.10023 15.7468 0.583009 16.077 0.275137C16.4071 -0.032734 16.9243 -0.0146712 17.2322 0.315481L27.7307 11.5738C28.1074 11.9777 28.0853 12.6104 27.6814 12.9871L15.7599 24.104C15.4332 24.4087 14.9213 24.3908 14.6165 24.0641C14.3118 23.7373 14.3297 23.2254 14.6565 22.9207L25.2237 13.0666Z" fill="#111111"/>
                                </svg>
                            </span>
                        </div>
                    </div>
                </a>
                <a href="#" class="categories__card card">
                    <div class="card__img-wrapper">
                        <img src="img/card-4.png" alt="Styler" class="card__img">
                    </div>
                    <div class="card__footer">
                        <p class="card__title">Выпрямители</p>
                        <div class="card__link">
                            <span class="card__link-txt">Подробнее</span>
                            <span class="card__svg-wrapper">
                                <svg width="28" height="25" viewBox="0 0 28 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M25.2237 13.0666L1.03236 12.8613C0.580109 12.8575 0.217931 12.4853 0.226425 12.0331C0.234797 11.5874 0.600443 11.2316 1.04616 11.2354L25.3725 11.4418L16.0366 1.43038C15.7287 1.10023 15.7468 0.583009 16.077 0.275137C16.4071 -0.032734 16.9243 -0.0146712 17.2322 0.315481L27.7307 11.5738C28.1074 11.9777 28.0853 12.6104 27.6814 12.9871L15.7599 24.104C15.4332 24.4087 14.9213 24.3908 14.6165 24.0641C14.3118 23.7373 14.3297 23.2254 14.6565 22.9207L25.2237 13.0666Z" fill="#111111"/>
                                </svg>
                            </span>
                        </div>
                    </div>
                </a>
                <a href="#" class="categories__card card">
                    <div class="card__img-wrapper">
                        <img src="img/card-4.png" alt="Styler" class="card__img">
                    </div>
                    <div class="card__footer">
                        <p class="card__title">Выпрямители</p>
                        <div class="card__link">
                            <span class="card__link-txt">Подробнее</span>
                            <span class="card__svg-wrapper">
                                <svg width="28" height="25" viewBox="0 0 28 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M25.2237 13.0666L1.03236 12.8613C0.580109 12.8575 0.217931 12.4853 0.226425 12.0331C0.234797 11.5874 0.600443 11.2316 1.04616 11.2354L25.3725 11.4418L16.0366 1.43038C15.7287 1.10023 15.7468 0.583009 16.077 0.275137C16.4071 -0.032734 16.9243 -0.0146712 17.2322 0.315481L27.7307 11.5738C28.1074 11.9777 28.0853 12.6104 27.6814 12.9871L15.7599 24.104C15.4332 24.4087 14.9213 24.3908 14.6165 24.0641C14.3118 23.7373 14.3297 23.2254 14.6565 22.9207L25.2237 13.0666Z" fill="#111111"/>
                                </svg>
                            </span>
                        </div>
                    </div>
                </a>
                <a href="#" class="categories__card card">
                    <div class="card__img-wrapper">
                        <img src="img/card-4.png" alt="Styler" class="card__img">
                    </div>
                    <div class="card__footer">
                        <p class="card__title">Выпрямители</p>
                        <div class="card__link">
                            <span class="card__link-txt">Подробнее</span>
                            <span class="card__svg-wrapper">
                                <svg width="28" height="25" viewBox="0 0 28 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M25.2237 13.0666L1.03236 12.8613C0.580109 12.8575 0.217931 12.4853 0.226425 12.0331C0.234797 11.5874 0.600443 11.2316 1.04616 11.2354L25.3725 11.4418L16.0366 1.43038C15.7287 1.10023 15.7468 0.583009 16.077 0.275137C16.4071 -0.032734 16.9243 -0.0146712 17.2322 0.315481L27.7307 11.5738C28.1074 11.9777 28.0853 12.6104 27.6814 12.9871L15.7599 24.104C15.4332 24.4087 14.9213 24.3908 14.6165 24.0641C14.3118 23.7373 14.3297 23.2254 14.6565 22.9207L25.2237 13.0666Z" fill="#111111"/>
                                </svg>
                            </span>
                        </div>
                    </div>
                </a>
            </a>

        </div>
    </div>
</section>