<section class="contacts">
  <div class="content">
    <div class="contacts__row">
      <div class="contacts__form-wrapper">
        <h2 class="contacts__form-title">Свяжитесь с нами</h2>
        <form action="" class="contacts__feedback form">
          <div class="form__input-wrapper">
            <input type="text" class="form__input" id="form__name" placeholder="Введите ваше имя">
            <label class="form__fake-placeholder" for="form__name">Ваше имя</label>
          </div>
          <div class="form__input-wrapper">
            <input type="text" class="form__input" id="form__phone" placeholder="Введите ваш номер телефона">
            <label class="form__fake-placeholder" for="form__phone">Ваш номер телефона</label>
          </div>
          <button type="submit" class="form__submit-btn">Оставить заявку</button>

        </form>
      </div>
      <div class="contacts__form-wrapper">
        <h2 class="contacts__form-title">Подпишитесь на новости</h2>
        <form action="" class="contacts__subscription">
          <div class="form__input-wrapper">
            <input type="text" class="form__input" id="form__email" placeholder="Введите вашу почту">
            <label class="form__fake-placeholder" for="form__email">Ваш e-mail</label>
          </div>
          <div class="form__subscription-footer">
            <button type="submit" class="form__submit-btn form__submit-btn--subscription" disabled>Подписаться</button>
            <label class="form__checkbox-label ">
              <input type="checkbox" class="form__checkbox">
              <span class="form__fake-checkbox"></span>
              <span class="form__checkbox-txt">Я ознакомлен(а) с политикой конфиденциальности и согласен(а) с обработкой
                персональных данных
              </span>
            </label>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>