<section class="expert">
    <div class="content">
        <div class="expert__row">
            <div class="expert__md-content">
                <div class="expert__txt">
                    <h2 class="expert__title">Базовый вектор развития</h2>
                    <p class="expert__desc">Фены Dyson универсальны. Они подходят для сушки разных типов волос. Насадки
                        из комплекта помогают создавать укладки на любой вкус. Функциональность девайсов впечатляет не
                        меньше, чем их уникальный дизайн.
                    </p>
                </div>
                <div class="expert__txt">
                    <h2 class="expert__title">Базовый вектор развития</h2>
                    <p class="expert__desc">Фены Dyson универсальны. Они подходят для сушки разных типов волос. Насадки
                        из комплекта помогают создавать укладки на любой вкус. Функциональность девайсов впечатляет не
                        меньше, чем их уникальный дизайн.
                    </p>
                </div>
                <div class="expert__txt">
                    <h2 class="expert__title">Базовый вектор развития</h2>
                    <p class="expert__desc">Фены Dyson универсальны. Они подходят для сушки разных типов волос. Насадки
                        из комплекта помогают создавать укладки на любой вкус. Функциональность девайсов впечатляет не
                        меньше, чем их уникальный дизайн.
                    </p>
                </div>
                <div class="expert__txt">
                    <h2 class="expert__title">Базовый вектор развития</h2>
                    <p class="expert__desc">Фены Dyson универсальны. Они подходят для сушки разных типов волос. Насадки
                        из комплекта помогают создавать укладки на любой вкус. Функциональность девайсов впечатляет не
                        меньше, чем их уникальный дизайн.
                    </p>
                </div>
                <div class="expert__txt">
                    <h2 class="expert__title">Базовый вектор развития</h2>
                    <p class="expert__desc">Фены Dyson универсальны. Они подходят для сушки разных типов волос. Насадки
                        из комплекта помогают создавать укладки на любой вкус. Функциональность девайсов впечатляет не
                        меньше, чем их уникальный дизайн.
                    </p>
                </div>
                <div class="expert__txt">
                    <h2 class="expert__title">Базовый вектор развития</h2>
                    <p class="expert__desc">Фены Dyson универсальны. Они подходят для сушки разных типов волос. Насадки
                        из комплекта помогают создавать укладки на любой вкус. Функциональность девайсов впечатляет не
                        меньше, чем их уникальный дизайн.
                    </p>
                </div>
            </div>
            <div class="expert__main-content">
                <div class="expert__main-txt">
                    <h2 class="expert__title">Мнение экспертов о технике Dyson</h2>
                    <div class="expert__paragraphs">
                        <p class="expert__paragraph">
                            Сегодня многие стилисты и салоны красоты в своей работе используют технику от Dyson.
                        </p>
                        <p class="expert__paragraph">
                            Несмотря на высокую стоимость, техника Dyson помогает экономить. Мастера тратят меньше времени
                            на сушку и укладку волос, благодаря чему успевают обслужить большее количество клиентов. Также
                            устройства от Dyson потребляют значительно меньше электроэнергии, не теряя свою мощность.
                        </p>
                        <p class="expert__paragraph">
                            Фены Dyson универсальны. Они подходят для сушки разных типов волос. Насадки из комплекта
                            помогают создавать укладки на любой вкус. Функциональность девайсов впечатляет не меньше, чем их
                            уникальный дизайн.
                        </p>
                        <p class="expert__paragraph">
                            Ведущие стилисты отмечают, что техника Dyson для ухода за волосами идеально подходят для
                            длительной работы за счет своей эргономичности. А за счет бесшумности инновационного мотора
                            использование устройств стало максимально комфортным.
                        </p>
                    </div>
                </div>
                <div class="expert__img-wrapper">
                    <img src="img/expert.png" alt="Our expert" class="expert__img">
                </div>
            </div>
        </div>
    </div>
</section>