<section class="faq">
    <div class="content">
        <div class="faq__row">
            <h2 class="faq__title">FAQ — Часто задаваемые вопросы</h2>
            <div class="accordion">
                <div class="accordion__item">
                    <button class="accordion__header">
                        <span class="accordion__btn-txt">
                            Главное отличие фена Dyson в быстром и безопасном высушивании волос?
                        </span>
                        <span class="accordion__btn-svg">
                            <svg  viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10.0003 19L10.0346 10M10.0003 1L10.0346 10M10.0346 10H19M10.0346 10H0.999999" stroke="#111111" stroke-width="2" stroke-linecap="round"/>
                            </svg>
                        </span>
                    </button>
                    <div class="accordion__body">
                        <p>
                            Главное отличие фена Dyson в быстром и безопасном высушивании волос. В рукоятку встроен
                            датчик температуры, благодаря которому она не поднимается выше 100 градусов. В комплекте 5
                            насадок, которые подходят для укладки и сушки на разных режимах. Есть практичный черный
                            чехол, предназначенный для аккуратной перевозки и хранения. Расчески можно использовать
                            отдельно от девайса или во время сушки с целью предотвратить запутывание.
                        </p>
                    </div>
                </div>

                <div class="accordion__item">
                    <button class="accordion__header">
                        <span class="accordion__btn-txt">
                           В рукоятку встроен датчик температуры, благодаря которому она не поднимается выше 100 градусов?
                        </span>
                        <span class="accordion__btn-svg">
                            <svg  viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10.0003 19L10.0346 10M10.0003 1L10.0346 10M10.0346 10H19M10.0346 10H0.999999" stroke="#111111" stroke-width="2" stroke-linecap="round"/>
                            </svg>
                        </span>
                    </button>
                    <div class="accordion__body">
                        <p>
                            Главное отличие фена Dyson в быстром и безопасном высушивании волос. В рукоятку встроен
                            датчик температуры, благодаря которому она не поднимается выше 100 градусов. В комплекте 5
                            насадок, которые подходят для укладки и сушки на разных режимах. Есть практичный черный
                            чехол, предназначенный для аккуратной перевозки и хранения. Расчески можно использовать
                            отдельно от девайса или во время сушки с целью предотвратить запутывание.
                        </p>
                    </div>
                </div>

                <div class="accordion__item">
                    <button class="accordion__header">
                        <span class="accordion__btn-txt">
                           Главное отличие фена Dyson в быстром и безопасном высушивании волос?
                        </span>
                        <span class="accordion__btn-svg">
                            <svg  viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10.0003 19L10.0346 10M10.0003 1L10.0346 10M10.0346 10H19M10.0346 10H0.999999" stroke="#111111" stroke-width="2" stroke-linecap="round"/>
                            </svg>
                        </span>
                    </button>
                    <div class="accordion__body">
                        <p>
                            Главное отличие фена Dyson в быстром и безопасном высушивании волос. В рукоятку встроен
                            датчик температуры, благодаря которому она не поднимается выше 100 градусов. В комплекте 5
                            насадок, которые подходят для укладки и сушки на разных режимах. Есть практичный черный
                            чехол, предназначенный для аккуратной перевозки и хранения. Расчески можно использовать
                            отдельно от девайса или во время сушки с целью предотвратить запутывание.
                        </p>
                    </div>
                </div>

                <div class="accordion__item">
                    <button class="accordion__header">
                        <span class="accordion__btn-txt">
                            Главное отличие фена Dyson в быстром и безопасном высушивании волос?
                        </span>
                        <span class="accordion__btn-svg">
                            <svg  viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10.0003 19L10.0346 10M10.0003 1L10.0346 10M10.0346 10H19M10.0346 10H0.999999" stroke="#111111" stroke-width="2" stroke-linecap="round"/>
                            </svg>
                        </span>
                    </button>
                    <div class="accordion__body">
                        <p>
                            Главное отличие фена Dyson в быстром и безопасном высушивании волос. В рукоятку встроен
                            датчик температуры, благодаря которому она не поднимается выше 100 градусов. В комплекте 5
                            насадок, которые подходят для укладки и сушки на разных режимах. Есть практичный черный
                            чехол, предназначенный для аккуратной перевозки и хранения. Расчески можно использовать
                            отдельно от девайса или во время сушки с целью предотвратить запутывание.
                        </p>
                    </div>
                </div>

                <div class="accordion__item">
                    <button class="accordion__header">
                        <span class="accordion__btn-txt">
                            В рукоятку встроен датчик температуры, благодаря которому она не поднимается выше 100 градусов?
                        </span>
                        <span class="accordion__btn-svg">
                            <svg  viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10.0003 19L10.0346 10M10.0003 1L10.0346 10M10.0346 10H19M10.0346 10H0.999999" stroke="#111111" stroke-width="2" stroke-linecap="round"/>
                            </svg>
                        </span>
                    </button>
                    <div class="accordion__body">
                        <p>
                            Главное отличие фена Dyson в быстром и безопасном высушивании волос. В рукоятку встроен
                            датчик температуры, благодаря которому она не поднимается выше 100 градусов. В комплекте 5
                            насадок, которые подходят для укладки и сушки на разных режимах. Есть практичный черный
                            чехол, предназначенный для аккуратной перевозки и хранения. Расчески можно использовать
                            отдельно от девайса или во время сушки с целью предотвратить запутывание.
                        </p>
                    </div>
                </div>

                <div class="accordion__item">
                    <button class="accordion__header">
                        <span class="accordion__btn-txt">
                            Главное отличие фена Dyson в быстром и безопасном высушивании волос?
                        </span>
                        <span class="accordion__btn-svg">
                            <svg  viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10.0003 19L10.0346 10M10.0003 1L10.0346 10M10.0346 10H19M10.0346 10H0.999999" stroke="#111111" stroke-width="2" stroke-linecap="round"/>
                            </svg>
                        </span>
                    </button>
                    <div class="accordion__body">
                        <p>
                            Главное отличие фена Dyson в быстром и безопасном высушивании волос. В рукоятку встроен
                            датчик температуры, благодаря которому она не поднимается выше 100 градусов. В комплекте 5
                            насадок, которые подходят для укладки и сушки на разных режимах. Есть практичный черный
                            чехол, предназначенный для аккуратной перевозки и хранения. Расчески можно использовать
                            отдельно от девайса или во время сушки с целью предотвратить запутывание.
                        </p>
                    </div>
                </div>
        </div>
    </div>
</section>