<section class="hero">
  <div class="content">
    <div class="hero__row">
      <div class="hero__content">
        <h1 class="hero__title">Уникальные технологии для ухода за волосами</h1>
        <p class="hero__desc">Идеальная укладка для всех типов волос вместе с Dyson</p>
        <a href="#" class="hero__more-btn">Подробнее</a>
      </div>
      <div class="hero__img-wrapper">
        <img src="img/hero.png" alt="Girl with hair dryer" class="hero__img">
      </div>
    </div>
  </div>
</section>