<section class="news">
    <div class="content">
        <div class="news__row">
            <h2 class="news__title">Новости</h2>
            <div class="news__main">
                <a href="#" class="news__item news-item">
                    <div class="news-item__img-wrapper">
                        <img src="img/news.png" alt="Article preview" class="news-item__img">
                    </div>
                    <time class="news-item__date" datetime="2022-12-21">21 декабря 2022</time>
                    <div class="news-item__txt">
                        <h3 class="news-item__title">Есть ли безопасные выпрямители для волос</h3>
                        <p class="news-item__desc">
                            Добавьте объем и рельеф коротким волосам. Посмотрите, как создать мягкие, легкие локоны и
                            волны на коротких волосах и волосах средней длины.
                            Добавьте объем и рельеф коротким волосам. Посмотрите, как создать мягкие, легкие локоны и
                            волны на коротких волосах и волосах средней длины.
                        </p>
                    </div>
                    <button class="news-item__link-btn">Читать далее</button>

                </a>

                <a href="#" class="news__item news-item">
                    <div class="news-item__img-wrapper">
                        <img src="img/news.png" alt="Article preview" class="news-item__img">
                    </div>
                    <time class="news-item__date" datetime="2022-12-21">21 декабря 2022</time>
                    <div class="news-item__txt">
                        <h3 class="news-item__title">Есть ли безопасные выпрямители для волос </h3>
                        <p class="news-item__desc">
                            Добавьте объем и рельеф коротким волосам. Посмотрите, как создать мягкие, легкие локоны и
                            волны на коротких волосах и волосах средней длины.
                        </p>
                    </div>
                    <button class="news-item__link-btn">Читать далее</button>

                </a>

                <a href="#" class="news__item news-item">
                    <div class="news-item__img-wrapper">
                        <img src="img/news.png" alt="Article preview" class="news-item__img">
                    </div>
                    <time class="news-item__date" datetime="2022-12-21">21 декабря 2022</time>
                    <div class="news-item__txt">
                        <h3 class="news-item__title">Есть ли безопасные выпрямители для волос</h3>
                        <p class="news-item__desc">
                            Добавьте объем и рельеф коротким волосам. Посмотрите, как создать мягкие, легкие локоны и
                            волны на коротких волосах и волосах средней длины.
                        </p>
                    </div>
                    <button class="news-item__link-btn">Читать далее</button>

                </a>
            </div>
            <a href="#" class="news__more-btn news-btn">
                <span class="news-btn__txt">Показать еще</span>
                <span class="news-btn__svg-wrapper">
                    <svg width="27" height="25" viewBox="0 0 27 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M22.7031 22.722L1.22199 2.13588C0.823245 1.75375 0.809777 1.12073 1.19191 0.721988C1.57403 0.323245 2.20706 0.309777 2.6058 0.691906L24.1919 21.3786V4.44733C24.1919 3.89504 24.6396 3.44733 25.1919 3.44733C25.7442 3.44733 26.1919 3.89504 26.1919 4.44733V23.722C26.1919 24.2743 25.7442 24.722 25.1919 24.722H5.03635C4.48406 24.722 4.03635 24.2743 4.03635 23.722C4.03635 23.1697 4.48406 22.722 5.03635 22.722H22.7031Z" fill="#111111"/>
                    </svg>
                </span>
            </a>
        </div>
    </div>
</section>