<section class="offers">
    <div class="content">
        <div class="offers__row">
            <div class="offers__header">
                <div class="offers__title-wrapper">
                    <h2 class="offers__title">Спецпредложения</h2>
                    <p class="offers__goods-count">14</p>
                </div>
                <div class="offers__tags-wrapper">
                    <div class="offers__tags">
                        <a href="#" class="offers__tag">dyson стайлер для длинных волос</a>
                        <a href="#" class="offers__tag">dyson стайлер красный</a>
                        <a href="#" class="offers__tag">dyson hs01 airwrap compliete</a>
                        <a href="#" class="offers__tag">фен щетка дайсон</a>
                    </div>
                    <button type="button" class="offers__tags-btn" >
                        <span class="offers__tags-btn--show">Показать еще</span>
                        <span class="offers__tags-btn--hide">Скрыть</span>
                    </button>
                </div>
                <div class="dropdown">
                    <button class="dropdown__btn" type="button">
                        <span class="dropdown__btn-txt"></span>
                        <span class="dropdown__btn-svg">
                           <svg width="8" height="6" viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.366819 1.64018C-0.175953 0.988856 0.287204 0 1.13504 0H6.86496C7.7128 0 8.17595 0.988858 7.63318 1.64018L4.76822 5.07814C4.36843 5.55789 3.63157 5.55789 3.23178 5.07813L0.366819 1.64018Z" fill="#111111"/>
                          </svg>
                        </span>
                    </button>
                    <ul class="dropdown__list">
                        <li class="dropdown__item" role="option">
                            <span class="dropdown__item-txt">Сначала популярные</span>
                            <span class="dropdown__item-svg">
                                <svg width="17" height="11" viewBox="0 0 17 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 4.5L6.5 10L15.5 1" stroke="#C5358C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </span>
                        </li>
                        <li class="dropdown__item" role="option">
                            <span class="dropdown__item-txt">Сначала дешёвые</span>
                            <span class="dropdown__item-svg">
                                <svg width="17" height="11" viewBox="0 0 17 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 4.5L6.5 10L15.5 1" stroke="#C5358C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </span>
                        </li>
                        <li class="dropdown__item" role="option">
                            <span class="dropdown__item-txt">Сначала дорогие</span>
                            <span class="dropdown__item-svg">
                                <svg width="17" height="11" viewBox="0 0 17 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 4.5L6.5 10L15.5 1" stroke="#C5358C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </span>
                        </li>
                        <li class="dropdown__item" role="option">
                            <span class="dropdown__item-txt">Новинки</span>
                            <span class="dropdown__item-svg">
                                <svg width="17" height="11" viewBox="0 0 17 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 4.5L6.5 10L15.5 1" stroke="#C5358C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </span>
                        </li>
                        <li class="dropdown__item" role="option">
                            <span class="dropdown__item-txt">Высокий рейтинг</span>
                            <span class="dropdown__item-svg">
                                <svg width="17" height="11" viewBox="0 0 17 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 4.5L6.5 10L15.5 1" stroke="#C5358C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="offers__slider swiper">
                <div class="offers__cards--inner swiper-wrapper">
                    <div class="offers__slide swiper-slide">
                        <div class="offers__card card">
                            <div class="card__img-wrapper">
                                <img src="img/offers.png" alt="Hair dryer" class="card__img">
                            </div>
                            <div class="card__main">
                                <p class="card__desc">
                                    Фен Dyson Supersonic HD07 синий медный с 5 насадками в чехле и расческамия
                                </p>
                                <div class="card__price-info">
                                    <div class="card__availability">
                                        <p class="card__availability-txt card__availability-txt--available">
                                            В наличии
                                        </p>
                                    </div>
                                    <div class="card__discount-percent">
                                        <p class="card__dp-txt">-15%</p>
                                    </div>
                                    <div class="card__discount-price">59 990Р</div>
                                    <div class="card__price">69 990 Р</div>
                                </div>
                            </div>
                            <div class="card__footer">
                                <form action="" method="post" class="card__goods-control">
                                    <button type="button" class="card__remove-btn">
                                        <span class="card__btn-svg-wrapper">
                                            <svg width="20" height="2" viewBox="0 0 20 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M19 1H1" stroke="#111111" stroke-width="2" stroke-linecap="round"/>
                                            </svg>
                                        </span>
                                    </button>
                                    <input type="text" class="card__goods-total" value="1" oninput="checkGoodsVal(this);">
                                    <button type="button" class="card__add-btn">
                                        <span class="card__btn-svg-wrapper">
                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M10.0003 19L10.0346 10M10.0003 1L10.0346 10M10.0346 10H19M10.0346 10H0.999999" stroke="#111111" stroke-width="2" stroke-linecap="round"/>
                                            </svg>
                                        </span>
                                    </button>
                                </form>
                                <button type="button" class="card__cart-btn">В корзину</button>
                            </div>
                        </div>
                    </div>
                    <div class="offers__slide swiper-slide">
                        <div class="offers__card card">
                            <div class="card__img-wrapper">
                                <img src="img/offers-1.png" alt="Hair dryer" class="card__img">
                            </div>
                            <div class="card__main">
                                <p class="card__desc">
                                    Фен Dyson Supersonic HD07 с 5 насадками и подставкой
                                </p>
                                <div class="card__price-info">
                                    <div class="card__availability">
                                        <p class="card__availability-txt card__availability-txt--available">
                                            В наличии
                                        </p>
                                    </div>
                                    <div class="card__discount-percent">
                                        <p class="card__dp-txt">-15%</p>
                                    </div>
                                    <div class="card__discount-price">47 990Р</div>
                                    <div class="card__price">51 990 Р</div>
                                </div>
                            </div>
                            <div class="card__footer">
                                <form action="" method="post" class="card__goods-control">
                                    <button type="button" class="card__remove-btn">
                                        <span class="card__btn-svg-wrapper">
                                            <svg width="20" height="2" viewBox="0 0 20 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M19 1H1" stroke="#111111" stroke-width="2" stroke-linecap="round"/>
                                            </svg>
                                        </span>
                                    </button>
                                    <input type="text" class="card__goods-total" value="1" oninput="checkGoodsVal(this);">
                                    <button type="button" class="card__add-btn">
                                        <span class="card__btn-svg-wrapper">
                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M10.0003 19L10.0346 10M10.0003 1L10.0346 10M10.0346 10H19M10.0346 10H0.999999" stroke="#111111" stroke-width="2" stroke-linecap="round"/>
                                            </svg>
                                        </span>
                                    </button>
                                </form>
                                <button type="button" class="card__cart-btn">В корзину</button>
                            </div>
                        </div>
                    </div>
                    <div class="offers__slide swiper-slide">
                        <div class="offers__card card">
                            <div class="card__img-wrapper">
                                <img src="img/offers.png" alt="Hair dryer" class="card__img">
                            </div>
                            <div class="card__main">
                                <p class="card__desc">
                                    Фен Dyson Supersonic 4 насадки HD03 с чехлом для хранения цвет сирень
                                </p>
                                <div class="card__price-info">
                                    <div class="card__availability">
                                        <p class="card__availability-txt card__availability-txt--available">
                                            В наличии
                                        </p>
                                    </div>
                                    <div class="card__discount-percent">
                                        <p class="card__dp-txt">-15%</p>
                                    </div>
                                    <div class="card__discount-price">47 990Р</div>
                                    <div class="card__price">51 990 Р</div>
                                </div>
                            </div>
                            <div class="card__footer">
                                <form action="" method="post" class="card__goods-control">
                                    <button type="button" class="card__remove-btn">
                                        <span class="card__btn-svg-wrapper">
                                            <svg width="20" height="2" viewBox="0 0 20 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M19 1H1" stroke="#111111" stroke-width="2" stroke-linecap="round"/>
                                            </svg>
                                        </span>
                                    </button>
                                    <input type="text" class="card__goods-total" value="1" oninput="checkGoodsVal(this);">
                                    <button type="button" class="card__add-btn">
                                        <span class="card__btn-svg-wrapper">
                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M10.0003 19L10.0346 10M10.0003 1L10.0346 10M10.0346 10H19M10.0346 10H0.999999" stroke="#111111" stroke-width="2" stroke-linecap="round"/>
                                            </svg>
                                        </span>
                                    </button>
                                </form>
                                <button type="button" class="card__cart-btn">В корзину</button>
                            </div>
                        </div>
                    </div>
                    <div class="offers__slide swiper-slide">
                        <div class="offers__card card">
                            <div class="card__img-wrapper">
                                <img src="img/offers.png" alt="Hair dryer" class="card__img">
                            </div>
                            <div class="card__main">
                                <p class="card__desc">
                                    Фен Dyson Supersonic HD07 синий медный с 5 насадками в чехле и расческамия
                                </p>
                                <div class="card__price-info">
                                    <div class="card__availability">
                                        <p class="card__availability-txt card__availability-txt--available">
                                            В наличии
                                        </p>
                                    </div>
                                    <div class="card__discount-percent">
                                        <p class="card__dp-txt">-15%</p>
                                    </div>
                                    <div class="card__discount-price">59 990Р</div>
                                    <div class="card__price">69 990 Р</div>
                                </div>
                            </div>
                            <div class="card__footer">
                                <form action="" method="post" class="card__goods-control">
                                    <button type="button" class="card__remove-btn">
                                        <span class="card__btn-svg-wrapper">
                                            <svg width="20" height="2" viewBox="0 0 20 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M19 1H1" stroke="#111111" stroke-width="2" stroke-linecap="round"/>
                                            </svg>
                                        </span>
                                    </button>
                                    <input type="text" class="card__goods-total" value="1" oninput="checkGoodsVal(this);">
                                    <button type="button" class="card__add-btn">
                                        <span class="card__btn-svg-wrapper">
                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M10.0003 19L10.0346 10M10.0003 1L10.0346 10M10.0346 10H19M10.0346 10H0.999999" stroke="#111111" stroke-width="2" stroke-linecap="round"/>
                                            </svg>
                                        </span>
                                    </button>
                                </form>
                                <button type="button" class="card__cart-btn">В корзину</button>
                            </div>
                        </div>
                    </div>
                    <div class="offers__slide swiper-slide">
                        <div class="offers__card card">
                            <div class="card__img-wrapper">
                                <img src="img/offers-1.png" alt="Hair dryer" class="card__img">
                            </div>
                            <div class="card__main">
                                <p class="card__desc">
                                    Фен Dyson Supersonic HD07 с 5 насадками и подставкой
                                </p>
                                <div class="card__price-info">
                                    <div class="card__availability">
                                        <p class="card__availability-txt card__availability-txt--available">
                                            В наличии
                                        </p>
                                    </div>
                                    <div class="card__discount-percent">
                                        <p class="card__dp-txt">-15%</p>
                                    </div>
                                    <div class="card__discount-price">47 990Р</div>
                                    <div class="card__price">51 990 Р</div>
                                </div>
                            </div>
                            <div class="card__footer">
                                <form action="" method="post" class="card__goods-control">
                                    <button type="button" class="card__remove-btn">
                                        <span class="card__btn-svg-wrapper">
                                            <svg width="20" height="2" viewBox="0 0 20 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M19 1H1" stroke="#111111" stroke-width="2" stroke-linecap="round"/>
                                            </svg>
                                        </span>
                                    </button>
                                    <input type="text" class="card__goods-total" value="1" oninput="checkGoodsVal(this);">
                                    <button type="button" class="card__add-btn">
                                        <span class="card__btn-svg-wrapper">
                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M10.0003 19L10.0346 10M10.0003 1L10.0346 10M10.0346 10H19M10.0346 10H0.999999" stroke="#111111" stroke-width="2" stroke-linecap="round"/>
                                            </svg>
                                        </span>
                                    </button>
                                </form>
                                <button type="button" class="card__cart-btn">В корзину</button>
                            </div>
                        </div>
                    </div>
                    <div class="offers__slide swiper-slide">
                        <div class="offers__card card">
                            <div class="card__img-wrapper">
                                <img src="img/offers.png" alt="Hair dryer" class="card__img">
                            </div>
                            <div class="card__main">
                                <p class="card__desc">
                                    Фен Dyson Supersonic 4 насадки HD03 с чехлом для хранения цвет сирень
                                </p>
                                <div class="card__price-info">
                                    <div class="card__availability">
                                        <p class="card__availability-txt card__availability-txt--available">
                                            В наличии
                                        </p>
                                    </div>
                                    <div class="card__discount-percent">
                                        <p class="card__dp-txt">-15%</p>
                                    </div>
                                    <div class="card__discount-price">47 990Р</div>
                                    <div class="card__price">51 990 Р</div>
                                </div>
                            </div>
                            <div class="card__footer">
                                <form action="" method="post" class="card__goods-control">
                                    <button type="button" class="card__remove-btn">
                                        <span class="card__btn-svg-wrapper">
                                            <svg width="20" height="2" viewBox="0 0 20 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M19 1H1" stroke="#111111" stroke-width="2" stroke-linecap="round"/>
                                            </svg>
                                        </span>
                                    </button>
                                    <input type="text" class="card__goods-total" value="1" oninput="checkGoodsVal(this);">
                                    <button type="button" class="card__add-btn">
                                        <span class="card__btn-svg-wrapper">
                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M10.0003 19L10.0346 10M10.0003 1L10.0346 10M10.0346 10H19M10.0346 10H0.999999" stroke="#111111" stroke-width="2" stroke-linecap="round"/>
                                            </svg>
                                        </span>
                                    </button>
                                </form>
                                <button type="button" class="card__cart-btn">В корзину</button>
                            </div>
                        </div>
                    </div>
                    <div class="offers__slide swiper-slide">
                        <div class="offers__card card">
                            <div class="card__img-wrapper">
                                <img src="img/offers.png" alt="Hair dryer" class="card__img">
                            </div>
                            <div class="card__main">
                                <p class="card__desc">
                                    Фен Dyson Supersonic HD07 синий медный с 5 насадками в чехле и расческамия
                                </p>
                                <div class="card__price-info">
                                    <div class="card__availability">
                                        <p class="card__availability-txt card__availability-txt--available">
                                            В наличии
                                        </p>
                                    </div>
                                    <div class="card__discount-percent">
                                        <p class="card__dp-txt">-15%</p>
                                    </div>
                                    <div class="card__discount-price">59 990Р</div>
                                    <div class="card__price">69 990 Р</div>
                                </div>
                            </div>
                            <div class="card__footer">
                                <form action="" method="post" class="card__goods-control">
                                    <button type="button" class="card__remove-btn">
                                        <span class="card__btn-svg-wrapper">
                                            <svg width="20" height="2" viewBox="0 0 20 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M19 1H1" stroke="#111111" stroke-width="2" stroke-linecap="round"/>
                                            </svg>
                                        </span>
                                    </button>
                                    <input type="text" class="card__goods-total" value="1" oninput="checkGoodsVal(this);">
                                    <button type="button" class="card__add-btn">
                                        <span class="card__btn-svg-wrapper">
                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M10.0003 19L10.0346 10M10.0003 1L10.0346 10M10.0346 10H19M10.0346 10H0.999999" stroke="#111111" stroke-width="2" stroke-linecap="round"/>
                                            </svg>
                                        </span>
                                    </button>
                                </form>
                                <button type="button" class="card__cart-btn">В корзину</button>
                            </div>
                        </div>
                    </div>
                    <div class="offers__slide swiper-slide">
                        <div class="offers__card card">
                            <div class="card__img-wrapper">
                                <img src="img/offers-1.png" alt="Hair dryer" class="card__img">
                            </div>
                            <div class="card__main">
                                <p class="card__desc">
                                    Фен Dyson Supersonic HD07 с 5 насадками и подставкой
                                </p>
                                <div class="card__price-info">
                                    <div class="card__availability">
                                        <p class="card__availability-txt card__availability-txt--available">
                                            В наличии
                                        </p>
                                    </div>
                                    <div class="card__discount-percent">
                                        <p class="card__dp-txt">-15%</p>
                                    </div>
                                    <div class="card__discount-price">47 990Р</div>
                                    <div class="card__price">51 990 Р</div>
                                </div>
                            </div>
                            <div class="card__footer">
                                <form action="" method="post" class="card__goods-control">
                                    <button type="button" class="card__remove-btn">
                                        <span class="card__btn-svg-wrapper">
                                            <svg width="20" height="2" viewBox="0 0 20 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M19 1H1" stroke="#111111" stroke-width="2" stroke-linecap="round"/>
                                            </svg>
                                        </span>
                                    </button>
                                    <input type="text" class="card__goods-total" value="1" oninput="checkGoodsVal(this);">
                                    <button type="button" class="card__add-btn">
                                        <span class="card__btn-svg-wrapper">
                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M10.0003 19L10.0346 10M10.0003 1L10.0346 10M10.0346 10H19M10.0346 10H0.999999" stroke="#111111" stroke-width="2" stroke-linecap="round"/>
                                            </svg>
                                        </span>
                                    </button>
                                </form>
                                <button type="button" class="card__cart-btn">В корзину</button>
                            </div>
                        </div>
                    </div>
                    <div class="offers__slide swiper-slide">
                        <div class="offers__card card">
                            <div class="card__img-wrapper">
                                <img src="img/offers.png" alt="Hair dryer" class="card__img">
                            </div>
                            <div class="card__main">
                                <p class="card__desc">
                                    Фен Dyson Supersonic 4 насадки HD03 с чехлом для хранения цвет сирень
                                </p>
                                <div class="card__price-info">
                                    <div class="card__availability">
                                        <p class="card__availability-txt card__availability-txt--available">
                                            В наличии
                                        </p>
                                    </div>
                                    <div class="card__discount-percent">
                                        <p class="card__dp-txt">-15%</p>
                                    </div>
                                    <div class="card__discount-price">47 990Р</div>
                                    <div class="card__price">51 990 Р</div>
                                </div>
                            </div>
                            <div class="card__footer">
                                <form action="" method="post" class="card__goods-control">
                                    <button type="button" class="card__remove-btn">
                                        <span class="card__btn-svg-wrapper">
                                            <svg width="20" height="2" viewBox="0 0 20 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M19 1H1" stroke="#111111" stroke-width="2" stroke-linecap="round"/>
                                            </svg>
                                        </span>
                                    </button>
                                    <input type="text" class="card__goods-total" value="1" oninput="checkGoodsVal(this);">
                                    <button type="button" class="card__add-btn">
                                        <span class="card__btn-svg-wrapper">
                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M10.0003 19L10.0346 10M10.0003 1L10.0346 10M10.0346 10H19M10.0346 10H0.999999" stroke="#111111" stroke-width="2" stroke-linecap="round"/>
                                            </svg>
                                        </span>
                                    </button>
                                </form>
                                <button type="button" class="card__cart-btn">В корзину</button>
                            </div>
                        </div>
                    </div>
                    <div class="offers__slide swiper-slide">
                        <div class="offers__card card">
                            <div class="card__img-wrapper">
                                <img src="img/offers.png" alt="Hair dryer" class="card__img">
                            </div>
                            <div class="card__main">
                                <p class="card__desc">
                                    Фен Dyson Supersonic HD07 синий медный с 5 насадками в чехле и расческамия
                                </p>
                                <div class="card__price-info">
                                    <div class="card__availability">
                                        <p class="card__availability-txt card__availability-txt--available">
                                            В наличии
                                        </p>
                                    </div>
                                    <div class="card__discount-percent">
                                        <p class="card__dp-txt">-15%</p>
                                    </div>
                                    <div class="card__discount-price">59 990Р</div>
                                    <div class="card__price">69 990 Р</div>
                                </div>
                            </div>
                            <div class="card__footer">
                                <form action="" method="post" class="card__goods-control">
                                    <button type="button" class="card__remove-btn">
                                        <span class="card__btn-svg-wrapper">
                                            <svg width="20" height="2" viewBox="0 0 20 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M19 1H1" stroke="#111111" stroke-width="2" stroke-linecap="round"/>
                                            </svg>
                                        </span>
                                    </button>
                                    <input type="text" class="card__goods-total" value="1" oninput="checkGoodsVal(this);">
                                    <button type="button" class="card__add-btn">
                                        <span class="card__btn-svg-wrapper">
                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M10.0003 19L10.0346 10M10.0003 1L10.0346 10M10.0346 10H19M10.0346 10H0.999999" stroke="#111111" stroke-width="2" stroke-linecap="round"/>
                                            </svg>
                                        </span>
                                    </button>
                                </form>
                                <button type="button" class="card__cart-btn">В корзину</button>
                            </div>
                        </div>
                    </div>
                    <div class="offers__slide swiper-slide">
                        <div class="offers__card card">
                            <div class="card__img-wrapper">
                                <img src="img/offers-1.png" alt="Hair dryer" class="card__img">
                            </div>
                            <div class="card__main">
                                <p class="card__desc">
                                    Фен Dyson Supersonic HD07 с 5 насадками и подставкой
                                </p>
                                <div class="card__price-info">
                                    <div class="card__availability">
                                        <p class="card__availability-txt card__availability-txt--available">
                                            В наличии
                                        </p>
                                    </div>
                                    <div class="card__discount-percent">
                                        <p class="card__dp-txt">-15%</p>
                                    </div>
                                    <div class="card__discount-price">47 990Р</div>
                                    <div class="card__price">51 990 Р</div>
                                </div>
                            </div>
                            <div class="card__footer">
                                <form action="" method="post" class="card__goods-control">
                                    <button type="button" class="card__remove-btn">
                                        <span class="card__btn-svg-wrapper">
                                            <svg width="20" height="2" viewBox="0 0 20 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M19 1H1" stroke="#111111" stroke-width="2" stroke-linecap="round"/>
                                            </svg>
                                        </span>
                                    </button>
                                    <input type="text" class="card__goods-total" value="1" oninput="checkGoodsVal(this);">
                                    <button type="button" class="card__add-btn">
                                        <span class="card__btn-svg-wrapper">
                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M10.0003 19L10.0346 10M10.0003 1L10.0346 10M10.0346 10H19M10.0346 10H0.999999" stroke="#111111" stroke-width="2" stroke-linecap="round"/>
                                            </svg>
                                        </span>
                                    </button>
                                </form>
                                <button type="button" class="card__cart-btn">В корзину</button>
                            </div>
                        </div>
                    </div>
                    <div class="offers__slide swiper-slide">
                        <div class="offers__card card">
                            <div class="card__img-wrapper">
                                <img src="img/offers.png" alt="Hair dryer" class="card__img">
                            </div>
                            <div class="card__main">
                                <p class="card__desc">
                                    Фен Dyson Supersonic 4 насадки HD03 с чехлом для хранения цвет сирень
                                </p>
                                <div class="card__price-info">
                                    <div class="card__availability">
                                        <p class="card__availability-txt card__availability-txt--available">
                                            В наличии
                                        </p>
                                    </div>
                                    <div class="card__discount-percent">
                                        <p class="card__dp-txt">-15%</p>
                                    </div>
                                    <div class="card__discount-price">47 990Р</div>
                                    <div class="card__price">51 990 Р</div>
                                </div>
                            </div>
                            <div class="card__footer">
                                <form action="" method="post" class="card__goods-control">
                                    <button type="button" class="card__remove-btn">
                                        <span class="card__btn-svg-wrapper">
                                            <svg width="20" height="2" viewBox="0 0 20 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M19 1H1" stroke="#111111" stroke-width="2" stroke-linecap="round"/>
                                            </svg>
                                        </span>
                                    </button>
                                    <input type="text" class="card__goods-total" value="1" oninput="checkGoodsVal(this);">
                                    <button type="button" class="card__add-btn">
                                        <span class="card__btn-svg-wrapper">
                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M10.0003 19L10.0346 10M10.0003 1L10.0346 10M10.0346 10H19M10.0346 10H0.999999" stroke="#111111" stroke-width="2" stroke-linecap="round"/>
                                            </svg>
                                        </span>
                                    </button>
                                </form>
                                <button type="button" class="card__cart-btn">В корзину</button>
                            </div>
                        </div>
                    </div>
                    <div class="offers__slide swiper-slide">
                        <div class="offers__card card">
                            <div class="card__img-wrapper">
                                <img src="img/offers.png" alt="Hair dryer" class="card__img">
                            </div>
                            <div class="card__main">
                                <p class="card__desc">
                                    Фен Dyson Supersonic HD07 синий медный с 5 насадками в чехле и расческамия
                                </p>
                                <div class="card__price-info">
                                    <div class="card__availability">
                                        <p class="card__availability-txt card__availability-txt--available">
                                            В наличии
                                        </p>
                                    </div>
                                    <div class="card__discount-percent">
                                        <p class="card__dp-txt">-15%</p>
                                    </div>
                                    <div class="card__discount-price">59 990Р</div>
                                    <div class="card__price">69 990 Р</div>
                                </div>
                            </div>
                            <div class="card__footer">
                                <form action="" method="post" class="card__goods-control">
                                    <button type="button" class="card__remove-btn">
                                        <span class="card__btn-svg-wrapper">
                                            <svg width="20" height="2" viewBox="0 0 20 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M19 1H1" stroke="#111111" stroke-width="2" stroke-linecap="round"/>
                                            </svg>
                                        </span>
                                    </button>
                                    <input type="text" class="card__goods-total" value="1" oninput="checkGoodsVal(this);">
                                    <button type="button" class="card__add-btn">
                                        <span class="card__btn-svg-wrapper">
                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M10.0003 19L10.0346 10M10.0003 1L10.0346 10M10.0346 10H19M10.0346 10H0.999999" stroke="#111111" stroke-width="2" stroke-linecap="round"/>
                                            </svg>
                                        </span>
                                    </button>
                                </form>
                                <button type="button" class="card__cart-btn">В корзину</button>
                            </div>
                        </div>
                    </div>
                    <div class="offers__slide swiper-slide">
                        <div class="offers__card card">
                            <div class="card__img-wrapper">
                                <img src="img/offers-1.png" alt="Hair dryer" class="card__img">
                            </div>
                            <div class="card__main">
                                <p class="card__desc">
                                    Фен Dyson Supersonic HD07 с 5 насадками и подставкой
                                </p>
                                <div class="card__price-info">
                                    <div class="card__availability">
                                        <p class="card__availability-txt card__availability-txt--available">
                                            В наличии
                                        </p>
                                    </div>
                                    <div class="card__discount-percent">
                                        <p class="card__dp-txt">-15%</p>
                                    </div>
                                    <div class="card__discount-price">47 990Р</div>
                                    <div class="card__price">51 990 Р</div>
                                </div>
                            </div>
                            <div class="card__footer">
                                <form action="" method="post" class="card__goods-control">
                                    <button type="button" class="card__remove-btn">
                                        <span class="card__btn-svg-wrapper">
                                            <svg width="20" height="2" viewBox="0 0 20 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M19 1H1" stroke="#111111" stroke-width="2" stroke-linecap="round"/>
                                            </svg>
                                        </span>
                                    </button>
                                    <input type="text" class="card__goods-total" value="1" oninput="checkGoodsVal(this);">
                                    <button type="button" class="card__add-btn">
                                        <span class="card__btn-svg-wrapper">
                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M10.0003 19L10.0346 10M10.0003 1L10.0346 10M10.0346 10H19M10.0346 10H0.999999" stroke="#111111" stroke-width="2" stroke-linecap="round"/>
                                            </svg>
                                        </span>
                                    </button>
                                </form>
                                <button type="button" class="card__cart-btn">В корзину</button>
                            </div>
                        </div>
                    </div>
                    <div class="offers__slide swiper-slide">
                        <div class="offers__card card">
                            <div class="card__img-wrapper">
                                <img src="img/offers.png" alt="Hair dryer" class="card__img">
                            </div>
                            <div class="card__main">
                                <p class="card__desc">
                                    Фен Dyson Supersonic 4 насадки HD03 с чехлом для хранения цвет сирень
                                </p>
                                <div class="card__price-info">
                                    <div class="card__availability">
                                        <p class="card__availability-txt card__availability-txt--available">
                                            В наличии
                                        </p>
                                    </div>
                                    <div class="card__discount-percent">
                                        <p class="card__dp-txt">-15%</p>
                                    </div>
                                    <div class="card__discount-price">47 990Р</div>
                                    <div class="card__price">51 990 Р</div>
                                </div>
                            </div>
                            <div class="card__footer">
                                <form action="" method="post" class="card__goods-control">
                                    <button type="button" class="card__remove-btn">
                                        <span class="card__btn-svg-wrapper">
                                            <svg width="20" height="2" viewBox="0 0 20 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M19 1H1" stroke="#111111" stroke-width="2" stroke-linecap="round"/>
                                            </svg>
                                        </span>
                                    </button>
                                    <input type="text" class="card__goods-total" value="1" oninput="checkGoodsVal(this);">
                                    <button type="button" class="card__add-btn">
                                        <span class="card__btn-svg-wrapper">
                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M10.0003 19L10.0346 10M10.0003 1L10.0346 10M10.0346 10H19M10.0346 10H0.999999" stroke="#111111" stroke-width="2" stroke-linecap="round"/>
                                            </svg>
                                        </span>
                                    </button>
                                </form>
                                <button type="button" class="card__cart-btn">В корзину</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="offers__slider-nav slider-nav">
                <div class="slider-nav__btn-wrapper">
                    <div class="slider-nav__btn slider-nav__btn--prev">
                        <span class="slider-nav__svg-wrapper">
                            <svg class="slider-nav__svg" width="35" height="30" viewBox="0 0 35 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M3.58719 16.1698L33.3382 15.8428C33.8904 15.8367 34.3332 15.3841 34.3271 14.8318C34.321 14.2796 33.8684 13.8368 33.3162 13.8429L3.41985 14.1715L14.9996 1.81932C15.3773 1.4164 15.3569 0.783566 14.954 0.405844C14.5511 0.0281214 13.9182 0.048547 13.5405 0.451466L0.358034 14.5133C-0.0196888 14.9162 0.000737105 15.549 0.403656 15.9268L15.1081 29.7117C15.5111 30.0894 16.1439 30.069 16.5216 29.6661C16.8993 29.2632 16.8789 28.6303 16.476 28.2526L3.58719 16.1698Z" fill="#111111"/>
                            </svg>
                        </span>
                    </div>
                    <div class="slider-nav__btn slider-nav__btn--next">
                        <span class="slider-nav__svg-wrapper">
                            <svg class="slider-nav__svg" width="35" height="30" viewBox="0 0 35 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M31.4128 16.1698L1.66183 15.8428C1.10958 15.8367 0.666813 15.3841 0.672884 14.8318C0.678954 14.2796 1.13156 13.8368 1.68382 13.8429L31.5802 14.1715L20.0004 1.81932C19.6227 1.4164 19.6431 0.783566 20.046 0.405844C20.4489 0.0281214 21.0818 0.048547 21.4595 0.451466L34.642 14.5133C35.0197 14.9162 34.9993 15.549 34.5963 15.9268L19.8919 29.7117C19.4889 30.0894 18.8561 30.069 18.4784 29.6661C18.1007 29.2632 18.1211 28.6303 18.524 28.2526L31.4128 16.1698Z" fill="#111111"/>
                            </svg>
                        </span>
                    </div>
                </div>
                <div class="slider-nav__pagination swiper-pagination"></div>
            </div>
        </div>
    </div>
</section>